# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
/.settings/
/target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.apk
*.ap_

# Package Files #
*.jar
*.war
*.ear
*.zip

# IntelliJ project files
.idea
*.iml
out
gen
classes
target

# Eclipse project files
.classpath
.project
.DS_Store