<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xteam.plus.mars.dao.AccountBalanceDao">
    <!--结果集对应列-->
    <resultMap id="BaseResultMap" type="org.xteam.plus.mars.domain.AccountBalance">
        <id column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
        <result column="BALANCE_AMOUNT" property="balanceAmount" jdbcType="DECIMAL"/>
    </resultMap>

    <!--公用选择列-->
    <sql id="selectColumns">
        USER_ID,
        STATUS
        ,CREATED
        ,UPDATED
        ,BALANCE_AMOUNT
    </sql>

    <!--公用查询条件-->
    <sql id="queryWhere">
        <where>
            <if test="status!=null ">
                <![CDATA[
                    and STATUS=#{status,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="created!=null ">
                <![CDATA[
                        and CREATED>= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CREATED<= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="updated!=null ">
                <![CDATA[
                        and UPDATED>= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and UPDATED<= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="userId!=null ">
                <![CDATA[
                    and USER_ID=#{userId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="balanceAmount!=null ">
                <![CDATA[
                    and BALANCE_AMOUNT=#{balanceAmount,jdbcType=DECIMAL}
                    ]]>
            </if>
        </where>
    </sql>

    <!--删除记录-->
    <delete id="delete" parameterType="org.xteam.plus.mars.domain.AccountBalance">
        delete from T_MARS_ACCOUNT_BALANCE
        where USER_ID= #{userId,jdbcType=DECIMAL}
    </delete>

    <!--插入记录-->
    <insert id="insert" parameterType="org.xteam.plus.mars.domain.AccountBalance">
        insert into T_MARS_ACCOUNT_BALANCE (
        USER_ID
        ,STATUS
        ,CREATED
        ,UPDATED
        ,BALANCE_AMOUNT
        )values(
         #{userId,jdbcType=DECIMAL}
        ,#{status,jdbcType=INTEGER}
        ,#{created,jdbcType=TIMESTAMP}
        ,#{updated,jdbcType=TIMESTAMP}
        ,#{balanceAmount,jdbcType=DECIMAL}
        )
    </insert>

    <!--批量插入记录-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into T_MARS_ACCOUNT_BALANCE (
        USER_ID
        ,STATUS
        ,CREATED
        ,UPDATED
        ,BALANCE_AMOUNT
        )values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{userId,jdbcType=DECIMAL}
           , #{item.status,jdbcType=INTEGER}
            ,#{item.created,jdbcType=TIMESTAMP}
            ,#{item.updated,jdbcType=TIMESTAMP}
            ,#{item.balanceAmount,jdbcType=DECIMAL}
            )
        </foreach>
    </insert>

    <!--更新记录-->
    <update id="update" parameterType="org.xteam.plus.mars.domain.AccountBalance">
        update T_MARS_ACCOUNT_BALANCE
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="status!=null ">
                    STATUS=#{status,jdbcType=INTEGER},
                </if>
                <if test="created!=null ">
                    CREATED=#{created,jdbcType=TIMESTAMP},
                </if>
                <if test="updated!=null ">
                    UPDATED=#{updated,jdbcType=TIMESTAMP},
                </if>
                <if test="balanceAmount!=null ">
                    BALANCE_AMOUNT=#{balanceAmount,jdbcType=DECIMAL},
                </if>
            </trim>
        </set>
        where USER_ID= #{userId,jdbcType=DECIMAL}
    </update>

    <!--查询单条记录-->
    <select id="get" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.AccountBalance">
        select
        USER_ID
        ,STATUS
        ,CREATED
        ,UPDATED
        ,BALANCE_AMOUNT
        from T_MARS_ACCOUNT_BALANCE
        where USER_ID= #{userId,jdbcType=DECIMAL}
    </select>


    <!--分页查询记录-->
    <select id="query" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.AccountBalance">
        select
        <include refid="selectColumns"></include>
        from T_MARS_ACCOUNT_BALANCE
        <include refid="queryWhere"></include>
        limit #{start},#{limit}
    </select>

    <!--查询记录数-->
    <select id="queryCount" resultType="int" parameterType="org.xteam.plus.mars.domain.AccountBalance">
        select count(1)
        from T_MARS_ACCOUNT_BALANCE
        <include refid="queryWhere"></include>
    </select>
</mapper>