<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xteam.plus.mars.dao.ApplyInfoDao">
    <!--结果集对应列-->
    <resultMap id="BaseResultMap" type="org.xteam.plus.mars.domain.ApplyInfo">
        <id column="APPLY_ID" property="applyId" jdbcType="DECIMAL"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
        <result column="APPLY_REASON" property="applyReason" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="APPLY_WAY" property="applyWay" jdbcType="INTEGER"/>
        <result column="APPLY_TYPE" property="applyType" jdbcType="INTEGER"/>

        <!--结果集对应列-->
        <association property="userInfo" column="USER_ID"
                     javaType="org.xteam.plus.mars.domain.UserInfo">
            <id column="USER_ID" property="userId" jdbcType="DECIMAL"/>
            <result column="CARD_NO" property="cardNo" jdbcType="DECIMAL"/>
            <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR"/>
            <result column="CARD_ACTIVATE_MODE" property="cardActivateMode" jdbcType="INTEGER"/>
            <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
            <result column="CARD_TYPE" property="cardType" jdbcType="DECIMAL"/>
            <result column="LINK_ADDRESS" property="linkAddress" jdbcType="VARCHAR"/>
            <result column="CARD_LIFE_TIME" property="cardLifeTime" jdbcType="TIMESTAMP"/>
            <result column="MOBILE_NO" property="mobileNo" jdbcType="VARCHAR"/>
            <result column="CARD_ACTIVATE_TIME" property="cardActivateTime" jdbcType="TIMESTAMP"/>
            <result column="REGISTER_TIME" property="registerTime" jdbcType="TIMESTAMP"/>
            <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
            <result column="WEIXIN_ACCOUNT" property="weixinAccount" jdbcType="VARCHAR"/>
            <result column="STATUS" property="status" jdbcType="INTEGER"/>
            <result column="LOGIN_COUNT" property="loginCount" jdbcType="DECIMAL"/>
            <result column="REGISTER_SOURCE" property="registerSource" jdbcType="VARCHAR"/>
            <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
            <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
            <result column="USER_LEVEL" property="userLevel" jdbcType="INTEGER"/>
            <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP"/>
            <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR"/>
            <result column="ACCUMULATIVE_WITHDRAWALS" property="accumulativeWithdrawals" jdbcType="DECIMAL"/>
            <result column="ACCUMULATIVE_SUBSIDY" property="accumulativeSubsidy" jdbcType="DECIMAL"/>
            <result column="PROVINCE" property="province" jdbcType="DECIMAL"/>
            <result column="CITY" property="city" jdbcType="DECIMAL"/>
            <result column="COUNTY" property="county" jdbcType="DECIMAL"/>
            <result column="PROVINCE_NAME" property="provinceName" jdbcType="DECIMAL"/>
            <result column="CITY_NAME" property="cityName" jdbcType="DECIMAL"/>
            <result column="COUNTY_NAME" property="countyName" jdbcType="DECIMAL"/>
            <result column="PAY_TIMES" property="payTimes" jdbcType="INTEGER"/>
            <result column="WX_HEAD_PORTRAIT" property="wxHeadPortrait" jdbcType="VARCHAR"/>
            <result column="WX_OPENID" property="wxOpenid" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <!--公用选择列-->
    <sql id="selectColumns">
        APPLY_ID,
        CREATED
        ,UPDATED
        ,APPLY_REASON
        ,STATUS
        ,USER_ID
        ,APPLY_WAY
        ,APPLY_TYPE
    </sql>

    <!--公用查询条件-->
    <sql id="queryWhere">
        <where>
            <if test="created!=null ">
                <![CDATA[
                        and CREATED>= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CREATED<= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="updated!=null ">
                <![CDATA[
                        and UPDATED>= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and UPDATED<= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="applyReason!=null and  applyReason!=''">
                <![CDATA[
                    and APPLY_REASON=#{applyReason,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="status!=null ">
                <![CDATA[
                    and STATUS=#{status,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="userId!=null ">
                <![CDATA[
                    and USER_ID=#{userId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="applyId!=null ">
                <![CDATA[
                    and APPLY_ID=#{applyId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="applyWay!=null ">
                <![CDATA[
                    and APPLY_WAY=#{applyWay,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="applyType!=null ">
                <![CDATA[
                    and APPLY_TYPE=#{applyType,jdbcType=INTEGER}
                    ]]>
            </if>
        </where>
    </sql>

    <!--删除记录-->
    <delete id="delete" parameterType="org.xteam.plus.mars.domain.ApplyInfo">
        delete from T_MARS_APPLY_INFO
        where APPLY_ID= #{applyId,jdbcType=DECIMAL}
    </delete>

    <!--插入记录-->
    <insert id="insert" parameterType="org.xteam.plus.mars.domain.ApplyInfo" useGeneratedKeys="true"
            keyProperty="applyId">
        insert into T_MARS_APPLY_INFO (
        CREATED
        ,UPDATED
        ,APPLY_REASON
        ,STATUS
        ,USER_ID
        ,APPLY_WAY
        ,APPLY_TYPE
        )values(
        #{created,jdbcType=TIMESTAMP}
        ,#{updated,jdbcType=TIMESTAMP}
        ,#{applyReason,jdbcType=VARCHAR}
        ,#{status,jdbcType=INTEGER}
        ,#{userId,jdbcType=DECIMAL}
        ,#{applyWay,jdbcType=INTEGER}
        ,#{applyType,jdbcType=INTEGER}
        )
    </insert>

    <!--批量插入记录-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="applyId">
        insert into T_MARS_APPLY_INFO (
        CREATED
        ,UPDATED
        ,APPLY_REASON
        ,STATUS
        ,USER_ID
        ,APPLY_WAY
        ,APPLY_TYPE
        )values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.created,jdbcType=TIMESTAMP}
            ,#{item.updated,jdbcType=TIMESTAMP}
            ,#{item.applyReason,jdbcType=VARCHAR}
            ,#{item.status,jdbcType=INTEGER}
            ,#{item.userId,jdbcType=DECIMAL}
            ,#{item.applyWay,jdbcType=INTEGER}
            ,#{item.applyType,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!--更新记录-->
    <update id="update" parameterType="org.xteam.plus.mars.domain.ApplyInfo">
        update T_MARS_APPLY_INFO
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="created!=null ">
                    CREATED=#{created,jdbcType=TIMESTAMP},
                </if>
                <if test="updated!=null ">
                    UPDATED=#{updated,jdbcType=TIMESTAMP},
                </if>
                <if test="applyReason!=null ">
                    APPLY_REASON=#{applyReason,jdbcType=VARCHAR},
                </if>
                <if test="status!=null ">
                    STATUS=#{status,jdbcType=INTEGER},
                </if>
                <if test="userId!=null ">
                    USER_ID=#{userId,jdbcType=DECIMAL},
                </if>
                <if test="applyWay!=null ">
                    APPLY_WAY=#{applyWay,jdbcType=INTEGER},
                </if>
                <if test="applyType!=null ">
                    APPLY_TYPE=#{applyType,jdbcType=INTEGER},
                </if>
            </trim>
        </set>
        where APPLY_ID= #{applyId,jdbcType=DECIMAL}
    </update>

    <!--查询单条记录-->
    <select id="get" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.ApplyInfo">
        select
        APPLY_ID
        ,CREATED
        ,UPDATED
        ,APPLY_REASON
        ,STATUS
        ,USER_ID
        ,APPLY_WAY
        ,APPLY_TYPE
        from T_MARS_APPLY_INFO
        where APPLY_ID= #{applyId,jdbcType=DECIMAL}
    </select>


    <!--分页查询记录-->
    <select id="query" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.ApplyInfo">
        select
        <include refid="selectColumns"></include>
        from T_MARS_APPLY_INFO
        <include refid="queryWhere"></include>
        limit #{start},#{limit}
    </select>

    <!--查询记录数-->
    <select id="queryCount" resultType="int" parameterType="org.xteam.plus.mars.domain.ApplyInfo">
        select count(1)
        from T_MARS_APPLY_INFO
        <include refid="queryWhere"></include>
    </select>

    <!-- 关联查询方法 UserInfo -->
    <!-- 关联查询 用户信息表 -->
    <!-- 关联查询选择列-->
    <sql id="selectColumnsRf">
        TAI.APPLY_ID
        ,TAI.CREATED
        ,TAI.UPDATED
        ,TAI.APPLY_REASON
        ,TAI.STATUS
        ,TAI.USER_ID
        ,TAI.APPLY_WAY
        ,TAI.APPLY_TYPE
        ,TUI.USER_ID
        ,TUI.CARD_NO
        ,TUI.ID_NUMBER
        ,TUI.CARD_ACTIVATE_MODE
        ,TUI.REAL_NAME
        ,TUI.CARD_TYPE
        ,TUI.LINK_ADDRESS
        ,TUI.CARD_LIFE_TIME
        ,TUI.MOBILE_NO
        ,TUI.CARD_ACTIVATE_TIME
        ,TUI.REGISTER_TIME
        ,TUI.CREATED
        ,TUI.WEIXIN_ACCOUNT
        ,TUI.LOGIN_COUNT
        ,TUI.REGISTER_SOURCE
        ,TUI.UPDATED
        ,TUI.PASSWORD
        ,TUI.USER_LEVEL
        ,TUI.LAST_LOGIN_TIME
        ,TUI.NICK_NAME
        ,TUI.PROVINCE
        ,TUI.CITY
        ,TUI.COUNTY
        ,TUI.PROVINCE_NAME
        ,TUI.CITY_NAME
        ,TUI.COUNTY_NAME
        ,TUI.WX_HEAD_PORTRAIT
        ,TUI.WX_OPENID

    </sql>

    <sql id="queryWhereRf">
        <where>
            <if test="created!=null ">
                <![CDATA[
                        and TAI.CREATED>= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and TAI.CREATED<= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="updated!=null ">
                <![CDATA[
                        and TAI.UPDATED>= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and TAI.UPDATED<= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="userInfo != null  and userInfo.realName != null">
                <![CDATA[
                  and TUI.REAL_NAME like #{userInfo.realName,jdbcType=VARCHAR}
                ]]>
            </if>
            <if test="userInfo != null  and userInfo.realName != null">
                <![CDATA[
                  and TUI.REAL_NAME like #{userInfo.realName,jdbcType=VARCHAR}
                ]]>
            </if>

            <if test="status != null">
                <![CDATA[
                  and TAI.STATUS = #{status,jdbcType=INTEGER}
                ]]>
            </if>

            <if test="applyWay != null">
                <![CDATA[
                  and TAI.APPLY_WAY = #{applyWay,jdbcType=INTEGER}
                ]]>
            </if>
            <if test="applyType != null">
                <![CDATA[
                  and TAI.APPLY_TYPE = #{applyType,jdbcType=INTEGER}
                ]]>
            </if>
        </where>
    </sql>

    <!--分页查询记录-->
    <select id="queryForUserInfo" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.ApplyInfo">
        select
        <include refid="selectColumnsRf"></include>
        from T_MARS_APPLY_INFO TAI
        LEFT JOIN T_MARS_USER_INFO TUI ON TAI.USER_ID = TUI.USER_ID
        <include refid="queryWhereRf"></include>
        limit #{start},#{limit}
    </select>

    <select id="queryForUserInfoCount" resultType="int" parameterType="org.xteam.plus.mars.domain.ApplyInfo">
        select count(*)
        from T_MARS_APPLY_INFO TAI
        LEFT JOIN T_MARS_USER_INFO TUI ON TAI.USER_ID = TUI.USER_ID
        <include refid="queryWhereRf"></include>
    </select>
</mapper>