<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xteam.plus.mars.dao.CommissionDetailDao">
    <!--结果集对应列-->
    <resultMap id="BaseResultMap" type="org.xteam.plus.mars.domain.CommissionDetail">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
        <result column="ORDRE_NO" property="ordreNo" jdbcType="DECIMAL"/>
        <result column="CARD_NO" property="cardNo" jdbcType="DECIMAL"/>
        <result column="COMMISSION_AMOUNT" property="commissionAmount" jdbcType="DECIMAL"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="COMMISSION_TYPE" property="commissionType" jdbcType="INTEGER"/>
    </resultMap>

    <!--公用选择列-->
    <sql id="selectColumns">
    ID,
    CREATED
,UPDATED
,ORDRE_NO
,CARD_NO
,COMMISSION_AMOUNT
,STATUS
,COMMISSION_TYPE
    </sql>

    <!--公用查询条件-->
    <sql id="queryWhere">
        <where>
            <if test="created!=null ">
                <![CDATA[
                        and CREATED>= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CREATED<= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="updated!=null ">
                <![CDATA[
                        and UPDATED>= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and UPDATED<= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="ordreNo!=null ">
                <![CDATA[
                    and ORDRE_NO=#{ordreNo,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="cardNo!=null ">
                <![CDATA[
                    and CARD_NO=#{cardNo,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="commissionAmount!=null ">
                <![CDATA[
                    and COMMISSION_AMOUNT=#{commissionAmount,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="status!=null ">
                <![CDATA[
                    and STATUS=#{status,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="id!=null ">
                <![CDATA[
                    and ID=#{id,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="commissionType!=null ">
                <![CDATA[
                    and COMMISSION_TYPE=#{commissionType,jdbcType=INTEGER}
                    ]]>
            </if>
        </where>
    </sql>

    <!--删除记录-->
    <delete id="delete" parameterType="org.xteam.plus.mars.domain.CommissionDetail">
        delete from  T_MARS_COMMISSION_DETAIL
        where  ID= #{id,jdbcType=DECIMAL}
    </delete>

    <!--插入记录-->
    <insert id="insert" parameterType="org.xteam.plus.mars.domain.CommissionDetail" useGeneratedKeys="true" keyProperty="id">
                insert into  T_MARS_COMMISSION_DETAIL (
            CREATED
,UPDATED
,ORDRE_NO
,CARD_NO
,COMMISSION_AMOUNT
,STATUS
,COMMISSION_TYPE
                )values(
            #{created,jdbcType=TIMESTAMP}
,#{updated,jdbcType=TIMESTAMP}
,#{ordreNo,jdbcType=DECIMAL}
,#{cardNo,jdbcType=DECIMAL}
,#{commissionAmount,jdbcType=DECIMAL}
,#{status,jdbcType=INTEGER}
,#{commissionType,jdbcType=INTEGER}
                )
            </insert>

    <!--批量插入记录-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into T_MARS_COMMISSION_DETAIL (
        CREATED
        ,UPDATED
        ,ORDRE_NO
        ,CARD_NO
        ,COMMISSION_AMOUNT
        ,STATUS
        ,COMMISSION_TYPE
        )values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.created,jdbcType=TIMESTAMP}
            ,#{item.updated,jdbcType=TIMESTAMP}
            ,#{item.ordreNo,jdbcType=DECIMAL}
            ,#{item.cardNo,jdbcType=DECIMAL}
            ,#{item.commissionAmount,jdbcType=DECIMAL}
            ,#{item.status,jdbcType=INTEGER}
            ,#{item.commissionType,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!--更新记录-->
    <update id="update" parameterType="org.xteam.plus.mars.domain.CommissionDetail">
        update T_MARS_COMMISSION_DETAIL
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="created!=null ">
                    CREATED=#{created,jdbcType=TIMESTAMP},
                </if>
                <if test="updated!=null ">
                    UPDATED=#{updated,jdbcType=TIMESTAMP},
                </if>
                <if test="ordreNo!=null ">
                    ORDRE_NO=#{ordreNo,jdbcType=DECIMAL},
                </if>
                <if test="cardNo!=null ">
                    CARD_NO=#{cardNo,jdbcType=DECIMAL},
                </if>
                <if test="commissionAmount!=null ">
                    COMMISSION_AMOUNT=#{commissionAmount,jdbcType=DECIMAL},
                </if>
                <if test="status!=null ">
                    STATUS=#{status,jdbcType=INTEGER},
                </if>
                <if test="commissionType!=null ">
                    COMMISSION_TYPE=#{commissionType,jdbcType=INTEGER},
                </if>
            </trim>
        </set>
        where ID= #{id,jdbcType=DECIMAL}
    </update>

    <!--查询单条记录-->
    <select id="get" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.CommissionDetail">
        select
    ID
        ,CREATED
,UPDATED
,ORDRE_NO
,CARD_NO
,COMMISSION_AMOUNT
,STATUS
,COMMISSION_TYPE
        from    T_MARS_COMMISSION_DETAIL
        where  ID= #{id,jdbcType=DECIMAL}
    </select>


    <!--分页查询记录-->
    <select id="query" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.CommissionDetail">
        select
        <include refid="selectColumns"></include>
        from T_MARS_COMMISSION_DETAIL
        <include refid="queryWhere"></include>
        limit #{start},#{limit}
    </select>

    <!--查询记录数-->
    <select id="queryCount" resultType="int" parameterType="org.xteam.plus.mars.domain.CommissionDetail">
        select count(1)
        from T_MARS_COMMISSION_DETAIL
        <include refid="queryWhere"></include>
    </select>
</mapper>