<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xteam.plus.mars.dao.GlobalConfDao">
    <!--结果集对应列-->
    <resultMap id="BaseResultMap" type="org.xteam.plus.mars.domain.GlobalConf">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="PARAMETER_KEY" property="parameterKey" jdbcType="VARCHAR"/>
        <result column="PARAMETER_VALUE" property="parameterValue" jdbcType="VARCHAR"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
        <result column="PARAMETER_TYPE" property="parameterType" jdbcType="DECIMAL"/>
    </resultMap>

    <!--公用选择列-->
    <sql id="selectColumns">
        ID,
        PARAMETER_KEY
        ,PARAMETER_VALUE
        ,CREATED
        ,UPDATED
        ,PARAMETER_TYPE
    </sql>

    <!--公用查询条件-->
    <sql id="queryWhere">
        <where>
            <if test="id!=null ">
                <![CDATA[
                    and ID=#{id,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="parameterKey!=null and  parameterKey!=''">
                <![CDATA[
                    and PARAMETER_KEY=#{parameterKey,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="parameterValue!=null and  parameterValue!=''">
                <![CDATA[
                    and PARAMETER_VALUE=#{parameterValue,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="created!=null ">
                <![CDATA[
                        and CREATED>= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CREATED<= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="updated!=null ">
                <![CDATA[
                        and UPDATED>= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and UPDATED<= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="parameterType!=null">
                <![CDATA[
                    and PARAMETER_TYPE=#{parameterType,jdbcType=DECIMAL}
                    ]]>
            </if>
        </where>
    </sql>

    <!--删除记录-->
    <delete id="delete" parameterType="org.xteam.plus.mars.domain.GlobalConf">
        delete from T_MARS_GLOBAL_CONF
        where ID= #{id,jdbcType=DECIMAL}
    </delete>

    <!--插入记录-->
    <insert id="insert" parameterType="org.xteam.plus.mars.domain.GlobalConf" useGeneratedKeys="true" keyProperty="id">
        insert into T_MARS_GLOBAL_CONF (
        PARAMETER_KEY
        ,PARAMETER_VALUE
        ,CREATED
        ,UPDATED
        ,PARAMETER_TYPE
        )values(
        #{parameterKey,jdbcType=VARCHAR}
        ,#{parameterValue,jdbcType=VARCHAR}
        ,#{created,jdbcType=TIMESTAMP}
        ,#{updated,jdbcType=TIMESTAMP}
        ,#{parameterType,jdbcType=DECIMAL}
        )
    </insert>

    <!--批量插入记录-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into T_MARS_GLOBAL_CONF (
        PARAMETER_KEY
        ,PARAMETER_VALUE
        ,CREATED
        ,UPDATED
        ,PARAMETER_TYPE
        )values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.parameterKey,jdbcType=VARCHAR}
            ,#{item.parameterValue,jdbcType=VARCHAR}
            ,#{item.created,jdbcType=TIMESTAMP}
            ,#{item.updated,jdbcType=TIMESTAMP}
            ,#{item.parameterType,jdbcType=DECIMAL}
            )
        </foreach>
    </insert>

    <!--更新记录-->
    <update id="update" parameterType="org.xteam.plus.mars.domain.GlobalConf">
        update T_MARS_GLOBAL_CONF
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="parameterKey!=null ">
                    PARAMETER_KEY=#{parameterKey,jdbcType=VARCHAR},
                </if>
                <if test="parameterValue!=null ">
                    PARAMETER_VALUE=#{parameterValue,jdbcType=VARCHAR},
                </if>
                <if test="created!=null ">
                    CREATED=#{created,jdbcType=TIMESTAMP},
                </if>
                <if test="updated!=null ">
                    UPDATED=#{updated,jdbcType=TIMESTAMP},
                </if>
                <if test="parameterType!=null ">
                    PARAMETER_TYPE=#{parameterType,jdbcType=DECIMAL}
                </if>
            </trim>
        </set>
        where ID= #{id,jdbcType=DECIMAL}
    </update>

    <!--查询单条记录-->
    <select id="get" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.GlobalConf">
        select
        ID
        ,PARAMETER_KEY
        ,PARAMETER_VALUE
        ,CREATED
        ,UPDATED
        ,PARAMETER_TYPE
        from T_MARS_GLOBAL_CONF
        where ID= #{id,jdbcType=DECIMAL}
    </select>


    <!--分页查询记录-->
    <select id="query" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.GlobalConf">
        select
        <include refid="selectColumns"></include>
        from T_MARS_GLOBAL_CONF
        <include refid="queryWhere"></include>
        limit #{start},#{limit}
    </select>

    <!--查询记录数-->
    <select id="queryCount" resultType="int" parameterType="org.xteam.plus.mars.domain.GlobalConf">
        select count(1)
        from T_MARS_GLOBAL_CONF
        <include refid="queryWhere"></include>
    </select>
</mapper>