<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xteam.plus.mars.dao.PolicyInfoDao">
    <!--结果集对应列-->
    <resultMap id="BaseResultMap" type="org.xteam.plus.mars.domain.PolicyInfo">
            <result column="CARD_NO" property="cardNo" jdbcType="DECIMAL"/>
            <result column="CARD_LIFE_TIME" property="cardLifeTime" jdbcType="TIMESTAMP"/>
            <result column="PAY_TIMES" property="payTimes" jdbcType="INTEGER"/>
            <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
            <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
            <result column="POLICY_NO" property="policyNo" jdbcType="VARCHAR"/>
            <result column="PREMIUM" property="premium" jdbcType="DECIMAL"/>
            <result column="LINK_ADDRESS" property="linkAddress" jdbcType="VARCHAR"/>
            <result column="CARD_ACTIVATE_TIME" property="cardActivateTime" jdbcType="TIMESTAMP"/>
            <result column="AGE" property="age" jdbcType="INTEGER"/>
            <result column="EFFECTIVE_DATE" property="effectiveDate" jdbcType="INTEGER"/>
            <result column="BIRTH_DATE" property="birthDate" jdbcType="TIMESTAMP"/>
            <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR"/>
            <result column="MOBILE_NO" property="mobileNo" jdbcType="VARCHAR"/>
    </resultMap>

    <!--公用选择列-->
    <sql id="selectColumns">
 	tui.CARD_NO
    ,tui.CARD_LIFE_TIME
 	,tui.PAY_TIMES
    ,tui.REAL_NAME
    ,tui.LINK_ADDRESS
    ,tui.CARD_ACTIVATE_TIME
    ,year(curdate())-if(length(tui.ID_NUMBER)=18,substring(tui.ID_NUMBER,7,4),if(length(tui.ID_NUMBER)=15,concat('19',substring(tui.ID_NUMBER,7,2)),null)) as AGE
    ,CAST(SUBSTRING(tui.ID_NUMBER,7,8) AS DATETIME) AS BIRTH_DATE
    ,tmuhc.SURVIVAL_PERIOD_NUM EFFECTIVE_DATE
    ,tui.ID_NUMBER
    ,tui.MOBILE_NO
    ,45 as PREMIUM
    </sql>

    <!--公用查询条件-->
    <sql id="queryWhere">
        <where>
              tui.STATUS=1 AND tmuhc.STATUS=1
                <if test="startDate!=null ">
                        <![CDATA[
                        and tui.CARD_ACTIVATE_TIME>= str_to_date(CONCAT(date_format(#{startDate,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        ]]>
                </if>

            <if test="endDate!=null ">
                <![CDATA[
                        and tui.CARD_ACTIVATE_TIME<= str_to_date(CONCAT(date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
        </where>
    </sql>

    <!--分页查询记录-->
    <select id="query" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.PolicyInfo">
        select
        <include refid="selectColumns"></include>
        from   T_MARS_USER_INFO tui
        LEFT JOIN T_MARS_USER_HEALTH_CARD tmuhc ON tmuhc.CARD_NO=tui.CARD_NO
        <include refid="queryWhere"></include>
        limit #{start},#{limit}
    </select>

    <!--查询记录数-->
    <select id="queryCount" resultType="int" parameterType="org.xteam.plus.mars.domain.PolicyInfo">
        select count(1)
        from   T_MARS_USER_INFO tui
        LEFT JOIN T_MARS_USER_HEALTH_CARD tmuhc ON tmuhc.CARD_NO=tui.CARD_NO
        <include refid="queryWhere"></include>
    </select>
</mapper>