<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xteam.plus.mars.dao.UserRelationDao">
    <!--结果集对应列-->
    <resultMap id="BaseResultMap" type="org.xteam.plus.mars.domain.UserRelation">
        <id column="RELATION_ID" property="relationId" jdbcType="DECIMAL"/>
        <result column="REFEREE_USER_ID" property="refereeUserId" jdbcType="DECIMAL"/>
        <result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <association property="userSalesInfo" column="USER_ID"
                     javaType="org.xteam.plus.mars.domain.UserInfo">
            <id column="USER_ID" property="userId" jdbcType="DECIMAL"/>
            <result column="CARD_NO" property="cardNo" jdbcType="DECIMAL"/>
            <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR"/>
            <result column="CARD_ACTIVATE_MODE" property="cardActivateMode" jdbcType="INTEGER"/>
            <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
            <result column="CARD_TYPE" property="cardType" jdbcType="DECIMAL"/>
            <result column="LINK_ADDRESS" property="linkAddress" jdbcType="VARCHAR"/>
            <result column="CARD_LIFE_TIME" property="cardLifeTime" jdbcType="TIMESTAMP"/>
            <result column="MOBILE_NO" property="mobileNo" jdbcType="VARCHAR"/>
            <result column="CARD_ACTIVATE_TIME" property="cardActivateTime" jdbcType="TIMESTAMP"/>
            <result column="REGISTER_TIME" property="registerTime" jdbcType="TIMESTAMP"/>
            <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
            <result column="WEIXIN_ACCOUNT" property="weixinAccount" jdbcType="VARCHAR"/>
            <result column="STATUS" property="status" jdbcType="INTEGER"/>
            <result column="LOGIN_COUNT" property="loginCount" jdbcType="DECIMAL"/>
            <result column="REGISTER_SOURCE" property="registerSource" jdbcType="VARCHAR"/>
            <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
            <result column="PASSWORK" property="passwork" jdbcType="VARCHAR"/>
            <result column="USER_LEVEL" property="userLevel" jdbcType="INTEGER"/>
            <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP"/>
            <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR"/>
            <result column="ACCUMULATIVE_WITHDRAWALS" property="accumulativeWithdrawals" jdbcType="DECIMAL"/>
            <result column="ACCUMULATIVE_SUBSIDY" property="accumulativeSubsidy" jdbcType="DECIMAL"/>
        </association>
    </resultMap>

    <!--公用选择列-->
    <sql id="selectColumns">
        RELATION_ID,
        REFEREE_USER_ID
        ,USER_ID
        ,UPDATED
        ,CREATED
    </sql>

    <!--公用查询条件-->
    <sql id="queryWhere">
        <where>
            <if test="relationId!=null ">
                <![CDATA[
                    and RELATION_ID=#{relationId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="refereeUserId!=null ">
                <![CDATA[
                    and REFEREE_USER_ID=#{refereeUserId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="userId!=null ">
                <![CDATA[
                    and USER_ID=#{userId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="updated!=null ">
                <![CDATA[
                        and UPDATED>= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and UPDATED<= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="created!=null ">
                <![CDATA[
                        and CREATED>= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CREATED<= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
        </where>
    </sql>

    <!--删除记录-->
    <delete id="delete" parameterType="org.xteam.plus.mars.domain.UserRelation">
        delete from T_MARS_USER_RELATION
        where RELATION_ID= #{relationId,jdbcType=DECIMAL}
    </delete>

    <!--插入记录-->
    <insert id="insert" parameterType="org.xteam.plus.mars.domain.UserRelation" useGeneratedKeys="true"
            keyProperty="relationId">
        insert into T_MARS_USER_RELATION (
        REFEREE_USER_ID
        ,USER_ID
        ,UPDATED
        ,CREATED
        )values(
        #{refereeUserId,jdbcType=DECIMAL}
        ,#{userId,jdbcType=DECIMAL}
        ,#{updated,jdbcType=TIMESTAMP}
        ,#{created,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--批量插入记录-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="relationId">
        insert into T_MARS_USER_RELATION (
        REFEREE_USER_ID
        ,USER_ID
        ,UPDATED
        ,CREATED
        )values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.refereeUserId,jdbcType=DECIMAL}
            ,#{item.userId,jdbcType=DECIMAL}
            ,#{item.updated,jdbcType=TIMESTAMP}
            ,#{item.created,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!--更新记录-->
    <update id="update" parameterType="org.xteam.plus.mars.domain.UserRelation">
        update T_MARS_USER_RELATION
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="refereeUserId!=null ">
                    REFEREE_USER_ID=#{refereeUserId,jdbcType=DECIMAL},
                </if>
                <if test="userId!=null ">
                    USER_ID=#{userId,jdbcType=DECIMAL},
                </if>
                <if test="updated!=null ">
                    UPDATED=#{updated,jdbcType=TIMESTAMP},
                </if>
                <if test="created!=null ">
                    CREATED=#{created,jdbcType=TIMESTAMP},
                </if>
            </trim>
        </set>
        where RELATION_ID= #{relationId,jdbcType=DECIMAL}
    </update>

    <!--查询单条记录-->
    <select id="get" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserRelation">
        select
        RELATION_ID
        ,REFEREE_USER_ID
        ,USER_ID
        ,UPDATED
        ,CREATED
        from T_MARS_USER_RELATION
        where RELATION_ID= #{relationId,jdbcType=DECIMAL}
    </select>


    <!--分页查询记录-->
    <select id="query" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserRelation">
        select
        <include refid="selectColumns"></include>
        from T_MARS_USER_RELATION
        <include refid="queryWhere"></include>
        limit #{start},#{limit}
    </select>

    <!--查询记录数-->
    <select id="queryCount" resultType="int" parameterType="org.xteam.plus.mars.domain.UserRelation">
        select count(1)
        from T_MARS_USER_RELATION
        <include refid="queryWhere"></include>
    </select>

    <!-- 关联查询 -->
    <!--公用选择列关联查询-->
    <sql id="selectColumnsRf">
        TUR.RELATION_ID
        ,TUR.REFEREE_USER_ID
        ,TUR.USER_ID
        ,TUR.UPDATED
        ,TUR.CREATED
        ,TUI.USER_ID
        ,TUI.CARD_NO
        ,TUI.ID_NUMBER
        ,TUI.CARD_ACTIVATE_MODE
        ,TUI.REAL_NAME
        ,TUI.CARD_TYPE
        ,TUI.LINK_ADDRESS
        ,TUI.CARD_LIFE_TIME
        ,TUI.MOBILE_NO
        ,TUI.CARD_ACTIVATE_TIME
        ,TUI.REGISTER_TIME
        ,TUI.CREATED
        ,TUI.WEIXIN_ACCOUNT
        ,TUI.STATUS
        ,TUI.LOGIN_COUNT
        ,TUI.REGISTER_SOURCE
        ,TUI.UPDATED
        ,TUI.PASSWORK
        ,TUI.USER_LEVEL
        ,TUI.LAST_LOGIN_TIME
        ,TUI.NICK_NAME
    </sql>
    <!--公用查询条件-->
    <sql id="queryWhereRf">
        <where>
            <if test="relationId!=null ">
                <![CDATA[
                    and TUR.RELATION_ID=#{relationId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="refereeUserId!=null ">
                <![CDATA[
                    and TUR.REFEREE_USER_ID=#{refereeUserId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="userId!=null ">
                <![CDATA[
                    and TUR.USER_ID=#{userId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="updated!=null ">
                <![CDATA[
                        and TUR.UPDATED>= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and TUR.UPDATED<= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="created!=null ">
                <![CDATA[
                        and TUR.CREATED>= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and TUR.CREATED<= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
        </where>
    </sql>
    <select id="queryForUser" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserInfo">
        select
        <include refid="selectColumnsRf"></include>
        from T_MARS_USER_RELATION TUR
        LEFT JOIN T_MARS_USER_INFO TUI ON TUI.USER_ID = TUR.USER_ID
        <include refid="queryWhereRf"></include>
        limit #{start},#{limit}
    </select>

    <select id="queryForUserCount" resultType="int" parameterType="org.xteam.plus.mars.domain.UserInfo">
        select count(1)
        from T_MARS_USER_RELATION TUR
        LEFT JOIN T_MARS_USER_INFO TUI ON TUI.USER_ID = TUR.USER_ID
        <include refid="queryWhereRf"></include>
    </select>

</mapper>