<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xteam.plus.mars.dao.UserInfoDao">
    <!--结果集对应列-->
    <resultMap id="BaseResultMap" type="org.xteam.plus.mars.domain.UserInfo">
        <id column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="CARD_NO" property="cardNo" jdbcType="DECIMAL"/>
        <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR"/>
        <result column="CARD_ACTIVATE_MODE" property="cardActivateMode" jdbcType="INTEGER"/>
        <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="CARD_TYPE" property="cardType" jdbcType="DECIMAL"/>
        <result column="LINK_ADDRESS" property="linkAddress" jdbcType="VARCHAR"/>
        <result column="CARD_LIFE_TIME" property="cardLifeTime" jdbcType="TIMESTAMP"/>
        <result column="MOBILE_NO" property="mobileNo" jdbcType="VARCHAR"/>
        <result column="CARD_ACTIVATE_TIME" property="cardActivateTime" jdbcType="TIMESTAMP"/>
        <result column="REGISTER_TIME" property="registerTime" jdbcType="TIMESTAMP"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="WEIXIN_ACCOUNT" property="weixinAccount" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="LOGIN_COUNT" property="loginCount" jdbcType="DECIMAL"/>
        <result column="REGISTER_SOURCE" property="registerSource" jdbcType="VARCHAR"/>
        <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="USER_LEVEL" property="userLevel" jdbcType="INTEGER"/>
        <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR"/>
        <result column="ACCUMULATIVE_WITHDRAWALS" property="accumulativeWithdrawals" jdbcType="DECIMAL"/>
        <result column="ACCUMULATIVE_SUBSIDY" property="accumulativeSubsidy" jdbcType="DECIMAL"/>

        <result column="PROVINCE" property="province" jdbcType="DECIMAL"/>
        <result column="CITY" property="city" jdbcType="DECIMAL"/>
        <result column="COUNTY" property="county" jdbcType="DECIMAL"/>

        <result column="PROVINCE_NAME" property="provinceName" jdbcType="DECIMAL"/>
        <result column="CITY_NAME" property="cityName" jdbcType="DECIMAL"/>
        <result column="COUNTY_NAME" property="countyName" jdbcType="DECIMAL"/>

        <result column="PAY_TIMES" property="payTimes" jdbcType="INTEGER"/>
        <result column="WX_HEAD_PORTRAIT" property="wxHeadPortrait" jdbcType="VARCHAR"/>
        <result column="WX_OPENID" property="wxOpenid" jdbcType="VARCHAR"/>
        <result column="EMPLOYEE_CARD" property="employeeCard" jdbcType="VARCHAR"/>

        <association property="userSalesInfo" column="USER_ID"
                     javaType="org.xteam.plus.mars.domain.UserSalesInfo">
            <id column="USER_ID" property="userId" jdbcType="DECIMAL"/>
            <result column="TEAM_PEOPLE_NUMBER" property="teamPeopleNumber" jdbcType="INTEGER"/>
            <result column="TEAM_PROFIT_AMOUNT" property="teamProfitAmount" jdbcType="DECIMAL"/>
            <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
            <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
            <result column="PROMOTION_NUMBER" property="promotionNumber" jdbcType="INTEGER"/>
        </association>

        <association property="applyInfo" column="USER_ID"
                     javaType="org.xteam.plus.mars.domain.ApplyInfo">
            <id column="APPLY_ID" property="applyId" jdbcType="DECIMAL"/>
            <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
            <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
            <result column="APPLY_REASON" property="applyReason" jdbcType="VARCHAR"/>
            <result column="STATUS" property="status" jdbcType="INTEGER"/>
            <result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
            <result column="APPLY_WAY" property="applyWay" jdbcType="INTEGER"/>
            <result column="APPLY_TYPE" property="applyType" jdbcType="INTEGER"/>
        </association>

    </resultMap>

    <!--公用选择列-->
    <sql id="selectColumns">
        USER_ID,
        CARD_NO
        ,ID_NUMBER
        ,CARD_ACTIVATE_MODE
        ,REAL_NAME
        ,CARD_TYPE
        ,LINK_ADDRESS
        ,CARD_LIFE_TIME
        ,MOBILE_NO
        ,CARD_ACTIVATE_TIME
        ,REGISTER_TIME
        ,CREATED
        ,WEIXIN_ACCOUNT
        ,STATUS
        ,LOGIN_COUNT
        ,REGISTER_SOURCE
        ,UPDATED
        ,PASSWORD
        ,USER_LEVEL
        ,LAST_LOGIN_TIME
        ,NICK_NAME
        ,PROVINCE
        ,CITY
        ,COUNTY
        ,PROVINCE_NAME
        ,CITY_NAME
        ,COUNTY_NAME
        ,PAY_TIMES
        ,WX_HEAD_PORTRAIT
        ,WX_OPENID
        ,EMPLOYEE_CARD
    </sql>

    <!--公用查询条件-->
    <sql id="queryWhere">
        <where>
            <if test="cardNo!=null ">
                <![CDATA[
                    and CARD_NO=#{cardNo,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="idNumber!=null and  idNumber!=''">
                <![CDATA[
                    and ID_NUMBER=#{idNumber,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="cardActivateMode!=null ">
                <![CDATA[
                    and CARD_ACTIVATE_MODE=#{cardActivateMode,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="realName!=null and  realName!=''">
                <![CDATA[
                    and REAL_NAME=#{realName,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="cardType!=null ">
                <![CDATA[
                    and CARD_TYPE=#{cardType,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="linkAddress!=null and  linkAddress!=''">
                <![CDATA[
                    and LINK_ADDRESS=#{linkAddress,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="cardLifeTime!=null ">
                <![CDATA[
                        and CARD_LIFE_TIME>= str_to_date(CONCAT(date_format(#{cardLifeTime,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CARD_LIFE_TIME<= str_to_date(CONCAT(date_format(#{cardLifeTime,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="mobileNo!=null and  mobileNo!=''">
                <![CDATA[
                    and MOBILE_NO=#{mobileNo,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="cardActivateTime!=null ">
                <![CDATA[
                        and CARD_ACTIVATE_TIME>= str_to_date(CONCAT(date_format(#{cardActivateTime,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CARD_ACTIVATE_TIME<= str_to_date(CONCAT(date_format(#{cardActivateTime,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="registerTime!=null ">
                <![CDATA[
                        and REGISTER_TIME>= str_to_date(CONCAT(date_format(#{registerTime,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and REGISTER_TIME<= str_to_date(CONCAT(date_format(#{registerTime,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="created!=null ">
                <![CDATA[
                        and CREATED>= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CREATED<= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="weixinAccount!=null and  weixinAccount!=''">
                <![CDATA[
                    and WEIXIN_ACCOUNT=#{weixinAccount,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="status!=null ">
                <![CDATA[
                    and STATUS=#{status,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="loginCount!=null ">
                <![CDATA[
                    and LOGIN_COUNT=#{loginCount,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="registerSource!=null and  registerSource!=''">
                <![CDATA[
                    and REGISTER_SOURCE=#{registerSource,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="updated!=null ">
                <![CDATA[
                        and UPDATED>= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and UPDATED<= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="password!=null and  password!=''">
                <![CDATA[
                    and PASSWORD=#{password,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="userLevel!=null ">
                <![CDATA[
                    and USER_LEVEL=#{userLevel,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="userId!=null ">
                <![CDATA[
                    and USER_ID=#{userId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="lastLoginTime!=null ">
                <![CDATA[
                        and LAST_LOGIN_TIME>= str_to_date(CONCAT(date_format(#{lastLoginTime,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and LAST_LOGIN_TIME<= str_to_date(CONCAT(date_format(#{lastLoginTime,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="nickName!=null and  nickName!=''">
                <![CDATA[
                    and NICK_NAME=#{nickName,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="wxHeadPortrait!=null">
                <![CDATA[
                    and WX_HEAD_PORTRAIT=#{wxHeadPortrait,jdbcType=VARCHAR}
                    ]]>
            </if>
            <if test="wxOpenid!=null">
                <![CDATA[
                    and WX_OPENID=#{wxOpenid,jdbcType=VARCHAR}
                    ]]>
            </if>
        </where>
    </sql>

    <!--删除记录-->
    <delete id="delete" parameterType="org.xteam.plus.mars.domain.UserInfo">
        delete from T_MARS_USER_INFO
        where USER_ID= #{userId,jdbcType=DECIMAL}
    </delete>

    <!--插入记录-->
    <insert id="insert" parameterType="org.xteam.plus.mars.domain.UserInfo" useGeneratedKeys="true"
            keyProperty="userId">
        insert into T_MARS_USER_INFO (
        CARD_NO
        ,ID_NUMBER
        ,CARD_ACTIVATE_MODE
        ,REAL_NAME
        ,CARD_TYPE
        ,LINK_ADDRESS
        ,CARD_LIFE_TIME
        ,MOBILE_NO
        ,CARD_ACTIVATE_TIME
        ,REGISTER_TIME
        ,CREATED
        ,WEIXIN_ACCOUNT
        ,STATUS
        ,LOGIN_COUNT
        ,REGISTER_SOURCE
        ,UPDATED
        ,PASSWORD
        ,USER_LEVEL
        ,LAST_LOGIN_TIME
        ,NICK_NAME
        ,PROVINCE
        ,CITY
        ,COUNTY
        ,PROVINCE_NAME
        ,CITY_NAME
        ,COUNTY_NAME
        ,WX_HEAD_PORTRAIT
        ,WX_OPENID
        ,EMPLOYEE_CARD
        )values(
        #{cardNo,jdbcType=DECIMAL}
        ,#{idNumber,jdbcType=VARCHAR}
        ,#{cardActivateMode,jdbcType=INTEGER}
        ,#{realName,jdbcType=VARCHAR}
        ,#{cardType,jdbcType=DECIMAL}
        ,#{linkAddress,jdbcType=VARCHAR}
        ,#{cardLifeTime,jdbcType=TIMESTAMP}
        ,#{mobileNo,jdbcType=VARCHAR}
        ,#{cardActivateTime,jdbcType=TIMESTAMP}
        ,#{registerTime,jdbcType=TIMESTAMP}
        ,#{created,jdbcType=TIMESTAMP}
        ,#{weixinAccount,jdbcType=VARCHAR}
        ,#{status,jdbcType=INTEGER}
        ,#{loginCount,jdbcType=DECIMAL}
        ,#{registerSource,jdbcType=VARCHAR}
        ,#{updated,jdbcType=TIMESTAMP}
        ,#{password,jdbcType=VARCHAR}
        ,#{userLevel,jdbcType=INTEGER}
        ,#{lastLoginTime,jdbcType=TIMESTAMP}
        ,#{nickName,jdbcType=VARCHAR}
        ,#{province,jdbcType=DECIMAL}
        ,#{city,jdbcType=DECIMAL}
        ,#{county,jdbcType=DECIMAL}
        ,#{provinceName,jdbcType=VARCHAR}
        ,#{cityName,jdbcType=VARCHAR}
        ,#{countyName,jdbcType=VARCHAR}
        ,#{wxHeadPortrait,jdbcType=VARCHAR}
        ,#{wxOpenid,jdbcType=VARCHAR}
          ,#{employeeCard,jdbcType=VARCHAR}
        )
    </insert>

    <!--批量插入记录-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="userId">
        insert into T_MARS_USER_INFO (
        CARD_NO
        ,ID_NUMBER
        ,CARD_ACTIVATE_MODE
        ,REAL_NAME
        ,CARD_TYPE
        ,LINK_ADDRESS
        ,CARD_LIFE_TIME
        ,MOBILE_NO
        ,CARD_ACTIVATE_TIME
        ,REGISTER_TIME
        ,CREATED
        ,WEIXIN_ACCOUNT
        ,STATUS
        ,LOGIN_COUNT
        ,REGISTER_SOURCE
        ,UPDATED
        ,PASSWORD
        ,USER_LEVEL
        ,LAST_LOGIN_TIME
        ,NICK_NAME
        ,PROVINCE
        ,CITY
        ,COUNTY
        ,PROVINCE_NAME
        ,CITY_NAME
        ,COUNTY_NAME
        ,WX_HEAD_PORTRAIT
        ,WX_OPENID
        ,EMPLOYEE_CARD
        )values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.cardNo,jdbcType=DECIMAL}
            ,#{item.idNumber,jdbcType=VARCHAR}
            ,#{item.cardActivateMode,jdbcType=INTEGER}
            ,#{item.realName,jdbcType=VARCHAR}
            ,#{item.cardType,jdbcType=DECIMAL}
            ,#{item.linkAddress,jdbcType=VARCHAR}
            ,#{item.cardLifeTime,jdbcType=TIMESTAMP}
            ,#{item.mobileNo,jdbcType=VARCHAR}
            ,#{item.cardActivateTime,jdbcType=TIMESTAMP}
            ,#{item.registerTime,jdbcType=TIMESTAMP}
            ,#{item.created,jdbcType=TIMESTAMP}
            ,#{item.weixinAccount,jdbcType=VARCHAR}
            ,#{item.status,jdbcType=INTEGER}
            ,#{item.loginCount,jdbcType=DECIMAL}
            ,#{item.registerSource,jdbcType=VARCHAR}
            ,#{item.updated,jdbcType=TIMESTAMP}
            ,#{item.password,jdbcType=VARCHAR}
            ,#{item.userLevel,jdbcType=INTEGER}
            ,#{item.lastLoginTime,jdbcType=TIMESTAMP}
            ,#{item.nickName,jdbcType=VARCHAR}
            ,#{item.province,jdbcType=DECIMAL}
            ,#{item.city,jdbcType=DECIMAL}
            ,#{item.county,jdbcType=DECIMAL}
            ,#{item.provinceName,jdbcType=VARCHAR}
            ,#{item.cityName,jdbcType=VARCHAR}
            ,#{item.countyName,jdbcType=VARCHAR}
            ,#{item.wxHeadPortrait,jdbcType=VARCHAR}
            ,#{item.wxOpenid,jdbcType=VARCHAR}
            ,#{employeeCard,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--更新记录-->
    <update id="update" parameterType="org.xteam.plus.mars.domain.UserInfo">
        update T_MARS_USER_INFO
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="cardNo!=null ">
                    CARD_NO=#{cardNo,jdbcType=DECIMAL},
                </if>
                <if test="idNumber!=null ">
                    ID_NUMBER=#{idNumber,jdbcType=VARCHAR},
                </if>
                <if test="cardActivateMode!=null ">
                    CARD_ACTIVATE_MODE=#{cardActivateMode,jdbcType=INTEGER},
                </if>
                <if test="realName!=null ">
                    REAL_NAME=#{realName,jdbcType=VARCHAR},
                </if>
                <if test="cardType!=null ">
                    CARD_TYPE=#{cardType,jdbcType=DECIMAL},
                </if>
                <if test="linkAddress!=null ">
                    LINK_ADDRESS=#{linkAddress,jdbcType=VARCHAR},
                </if>
                <if test="cardLifeTime!=null ">
                    CARD_LIFE_TIME=#{cardLifeTime,jdbcType=TIMESTAMP},
                </if>
                <if test="mobileNo!=null ">
                    MOBILE_NO=#{mobileNo,jdbcType=VARCHAR},
                </if>
                <if test="cardActivateTime!=null ">
                    CARD_ACTIVATE_TIME=#{cardActivateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="registerTime!=null ">
                    REGISTER_TIME=#{registerTime,jdbcType=TIMESTAMP},
                </if>
                <if test="created!=null ">
                    CREATED=#{created,jdbcType=TIMESTAMP},
                </if>
                <if test="weixinAccount!=null ">
                    WEIXIN_ACCOUNT=#{weixinAccount,jdbcType=VARCHAR},
                </if>
                <if test="status!=null ">
                    STATUS=#{status,jdbcType=INTEGER},
                </if>
                <if test="loginCount!=null ">
                    LOGIN_COUNT=#{loginCount,jdbcType=DECIMAL},
                </if>
                <if test="registerSource!=null ">
                    REGISTER_SOURCE=#{registerSource,jdbcType=VARCHAR},
                </if>
                <if test="updated!=null ">
                    UPDATED=#{updated,jdbcType=TIMESTAMP},
                </if>
                <if test="password!=null ">
                    PASSWORD=#{password,jdbcType=VARCHAR},
                </if>
                <if test="userLevel!=null ">
                    USER_LEVEL=#{userLevel,jdbcType=INTEGER},
                </if>
                <if test="lastLoginTime!=null ">
                    LAST_LOGIN_TIME=#{lastLoginTime,jdbcType=TIMESTAMP},
                </if>
                <if test="nickName!=null ">
                    NICK_NAME=#{nickName,jdbcType=VARCHAR},
                </if>
                <if test="province!=null ">
                    PROVINCE=#{province,jdbcType=DECIMAL},
                </if>
                <if test="city!=null ">
                    CITY=#{city,jdbcType=DECIMAL},
                </if>
                <if test="county!=null ">
                    COUNTY=#{county,jdbcType=DECIMAL},
                </if>
                <if test="provinceName!=null ">
                    PROVINCE_NAME=#{provinceName,jdbcType=VARCHAR},
                </if>
                <if test="cityName!=null ">
                    CITY_NAME=#{cityName,jdbcType=VARCHAR},
                </if>
                <if test="countyName!=null ">
                    COUNTY_NAME=#{countyName,jdbcType=VARCHAR},
                </if>
                <if test="wxHeadPortrait!=null">
                    WX_HEAD_PORTRAIT=#{wxHeadPortrait,jdbcType=VARCHAR},
                </if>
                <if test="wxOpenid!=null">
                    WX_OPENID=#{wxOpenid,jdbcType=VARCHAR},
                </if>
                <if test="employeeCard!=null">
                    EMPLOYEE_CARD=#{employeeCard,jdbcType=VARCHAR},
                </if>
            </trim>
        </set>
        where USER_ID= #{userId,jdbcType=DECIMAL}
    </update>

    <!--查询单条记录-->
    <select id="get" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserInfo">
        select
        USER_ID
        ,CARD_NO
        ,ID_NUMBER
        ,CARD_ACTIVATE_MODE
        ,REAL_NAME
        ,CARD_TYPE
        ,LINK_ADDRESS
        ,CARD_LIFE_TIME
        ,MOBILE_NO
        ,CARD_ACTIVATE_TIME
        ,REGISTER_TIME
        ,CREATED
        ,WEIXIN_ACCOUNT
        ,STATUS
        ,LOGIN_COUNT
        ,REGISTER_SOURCE
        ,UPDATED
        ,PASSWORD
        ,USER_LEVEL
        ,LAST_LOGIN_TIME
        ,NICK_NAME
        ,PROVINCE
        ,CITY
        ,COUNTY
        ,PROVINCE_NAME
        ,CITY_NAME
        ,COUNTY_NAME
        ,PAY_TIMES
        ,WX_HEAD_PORTRAIT
        ,WX_OPENID
        ,EMPLOYEE_CARD
        from T_MARS_USER_INFO
        where USER_ID= #{userId,jdbcType=DECIMAL}
    </select>

    <!--查询单条记录-->
    <select id="getByMobileNo" resultMap="BaseResultMap" parameterType="string">
        select
        USER_ID
        ,CARD_NO
        ,ID_NUMBER
        ,CARD_ACTIVATE_MODE
        ,REAL_NAME
        ,CARD_TYPE
        ,LINK_ADDRESS
        ,CARD_LIFE_TIME
        ,MOBILE_NO
        ,CARD_ACTIVATE_TIME
        ,REGISTER_TIME
        ,CREATED
        ,WEIXIN_ACCOUNT
        ,STATUS
        ,LOGIN_COUNT
        ,REGISTER_SOURCE
        ,UPDATED
        ,PASSWORD
        ,USER_LEVEL
        ,LAST_LOGIN_TIME
        ,NICK_NAME
        ,PROVINCE
        ,CITY
        ,COUNTY
        ,PROVINCE_NAME
        ,CITY_NAME
        ,COUNTY_NAME
        ,PAY_TIMES
        ,WX_HEAD_PORTRAIT
        ,WX_OPENID
        ,EMPLOYEE_CARD
        from T_MARS_USER_INFO
        where MOBILE_NO=#{mobileNo,jdbcType=VARCHAR}
    </select>
    <!--分页查询记录-->
    <select id="query" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserInfo">
        select
        <include refid="selectColumns"></include>
        from T_MARS_USER_INFO
        <include refid="queryWhere"></include>
        limit #{start},#{limit}
    </select>

    <!--查询记录数-->
    <select id="queryCount" resultType="int" parameterType="org.xteam.plus.mars.domain.UserInfo">
        select count(1)
        from T_MARS_USER_INFO
        <include refid="queryWhere"></include>
    </select>

    <!-- 关联查询方法 UserSalesInfo -->
    <!-- 关联查询 用户销售信息表 -->
    <!-- 关联查询选择列-->
    <sql id="selectColumnsRf">
        TUI.USER_ID
        ,TUI.CARD_NO
        ,TUI.ID_NUMBER
        ,TUI.CARD_ACTIVATE_MODE
        ,TUI.REAL_NAME
        ,TUI.CARD_TYPE
        ,TUI.LINK_ADDRESS
        ,TUI.CARD_LIFE_TIME
        ,TUI.MOBILE_NO
        ,TUI.CARD_ACTIVATE_TIME
        ,TUI.REGISTER_TIME
        ,TUI.CREATED
        ,TUI.WEIXIN_ACCOUNT
        ,TUI.STATUS
        ,TUI.LOGIN_COUNT
        ,TUI.REGISTER_SOURCE
        ,TUI.UPDATED
        ,TUI.PASSWORD
        ,TUI.USER_LEVEL
        ,TUI.LAST_LOGIN_TIME
        ,TUI.NICK_NAME
        ,TUI.PROVINCE
        ,TUI.CITY
        ,TUI.COUNTY
        ,TUI.PROVINCE_NAME
        ,TUI.CITY_NAME
        ,TUI.COUNTY_NAME
        ,TUI.WX_HEAD_PORTRAIT
        ,TUI.WX_OPENID
        ,TUSI.USER_ID
        ,TUSI.TEAM_PEOPLE_NUMBER
        ,TUSI.TEAM_PROFIT_AMOUNT
        ,TUSI.CREATED
        ,TUSI.UPDATED
        ,TUSI.PROMOTION_NUMBER
        ,TAI.APPLY_ID
        ,TAI.CREATED
        ,TAI.UPDATED
        ,TAI.APPLY_REASON
        ,TAI.STATUS
        ,TAI.USER_ID
        ,TAI.APPLY_WAY
        ,TAI.APPLY_TYPE
    </sql>

    <sql id="queryWhereRf">

        <if test="userinfo.cardNo!=null ">
            <![CDATA[
                    and TUI.CARD_NO=#{userinfo.cardNo,jdbcType=DECIMAL}
                    ]]>
        </if>
        <if test="userinfo.userLevel!=null ">
            <![CDATA[
                    and TUI.USER_LEVEL=#{userinfo.userLevel,jdbcType=INTEGER}
                    ]]>
        </if>
        <if test="userinfo.nickName!=null and  userinfo.nickName!=''">
            <![CDATA[
                    and TUI.NICK_NAME LIKE CONCAT('%',#{userinfo.nickName,jdbcType=VARCHAR},'%')
                    ]]>
        </if>
        <if test="userinfo.realName!=null and  userinfo.realName!=''">
            <![CDATA[
                    and TUI.REAL_NAME LIKE CONCAT('%',#{userinfo.realName,jdbcType=VARCHAR},'%')
                    ]]>
        </if>
        <if test="userinfo.registerSource!=null and userinfo.registerSource!=''">
            <![CDATA[
                    and TUI.REGISTER_SOURCE=#{userinfo.registerSource,jdbcType=VARCHAR}
                    ]]>
        </if>
    </sql>

    <select id="queryWorker" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserInfo">
        select
        <include refid="selectColumnsRf"></include>
        ,(SELECT SUM(AMOUNT) FROM T_MARS_ACCOUNT_DETAIL WHERE USER_ID = TUI.USER_ID AND BUSINESSE_TYPE = 99) AS
        ACCUMULATIVE_WITHDRAWALS,
        (SELECT SUM(AMOUNT) FROM T_MARS_ACCOUNT_DETAIL WHERE USER_ID = TUI.USER_ID AND BUSINESSE_TYPE &lt; 99) AS
        ACCUMULATIVE_SUBSIDY
        from T_MARS_USER_INFO TUI
        LEFT JOIN T_MARS_USER_SALES_INFO TUSI ON TUI.USER_ID = TUSI.USER_ID
        LEFT JOIN T_MARS_APPLY_INFO TAI ON TUI.USER_ID = TAI.USER_ID
        WHERE TAI.APPLY_TYPE = #{applyType,jdbcType=DECIMAL} AND TAI.STATUS = 1
        <include refid="queryWhereRf"></include>
        limit #{userinfo.start},#{userinfo.limit}
    </select>

    <select id="queryWorkerCount" resultType="int" parameterType="org.xteam.plus.mars.domain.UserInfo">
        select count(1)
        from T_MARS_USER_INFO TUI
        LEFT JOIN T_MARS_USER_SALES_INFO TUSI ON TUI.USER_ID = TUSI.USER_ID
        LEFT JOIN T_MARS_APPLY_INFO TAI ON TUI.USER_ID = TAI.USER_ID
        WHERE TAI.APPLY_TYPE = #{applyType,jdbcType=DECIMAL} AND TAI.STATUS = 1
        <include refid="queryWhereRf"></include>
    </select>

    <select id="getWorker" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserInfo">
        select
        <include refid="selectColumnsRf"></include>
        ,(SELECT SUM(AMOUNT) FROM T_MARS_ACCOUNT_DETAIL WHERE USER_ID = TUI.USER_ID AND BUSINESSE_TYPE = 99) AS
        ACCUMULATIVE_WITHDRAWALS,
        (SELECT SUM(AMOUNT) FROM T_MARS_ACCOUNT_DETAIL WHERE USER_ID = TUI.USER_ID AND BUSINESSE_TYPE &lt; 99) AS
        ACCUMULATIVE_SUBSIDY
        from T_MARS_USER_INFO TUI
        LEFT JOIN T_MARS_USER_SALES_INFO TUSI ON TUI.USER_ID = TUSI.USER_ID
        LEFT JOIN T_MARS_APPLY_INFO TAI ON TUI.USER_ID = TAI.USER_ID
        WHERE TAI.STATUS = 1 AND TUI.USER_ID = #{userId,jdbcType=DECIMAL}
    </select>

    <select id="queryUserTotalCount" resultType="int" parameterType="org.xteam.plus.mars.domain.UserInfo">
        SELECT COUNT(*) FROM T_MARS_USER_INFO where
        USER_LEVEL = ${userLevel}
        <if test="nowDate!=null">
            <![CDATA[
              AND DATE_FORMAT(#{nowDate,jdbcType=DATE},'%Y-%m-%d') = DATE_FORMAT(CREATED,'%Y-%m-%d')
          ]]>
        </if>
    </select>
</mapper>