<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xteam.plus.mars.dao.UserHealthCardDao">
    <!--结果集对应列-->
    <resultMap id="BaseResultMap" type="org.xteam.plus.mars.domain.UserHealthCard">
        <id column="CARD_NO" property="cardNo" jdbcType="DECIMAL"/>
        <result column="SEND_PERIOD_MODE" property="sendPeriodMode" jdbcType="INTEGER"/>
        <result column="SEND_PERIOD" property="sendPeriod" jdbcType="INTEGER"/>
        <result column="SEND_TOTAL_COUNT" property="sendTotalCount" jdbcType="INTEGER"/>
        <result column="SEND_COUNT" property="sendCount" jdbcType="INTEGER"/>
        <result column="PRODUCT_ID" property="productId" jdbcType="DECIMAL"/>
        <result column="CARD_DEADLINE" property="cardDeadline" jdbcType="TIMESTAMP"/>
        <result column="PRODUCT_TYPE" property="productType" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="SURVIVAL_PERIOD_MODE" property="survivalPeriodMode" jdbcType="INTEGER"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="SURVIVAL_PERIOD_NUM" property="survivalPeriodNum" jdbcType="INTEGER"/>
        <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
        <result column="BUYER_USER_ID" property="buyerUserId" jdbcType="DECIMAL"/>
        <result column="ACTIVATE_USER_ID" property="activateUserId" jdbcType="DECIMAL"/>
        <result column="CARD_ACTIVATE_TIME" property="cardActivateTime" jdbcType="TIMESTAMP"/>

        <association property="activateUserInfo" column="ACTIVATE_USER_ID"
                     javaType="org.xteam.plus.mars.domain.UserInfo">
            <id column="USER_ID" property="userId" jdbcType="DECIMAL"/>
            <result column="CARD_NO" property="cardNo" jdbcType="DECIMAL"/>
            <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR"/>
            <result column="CARD_ACTIVATE_MODE" property="cardActivateMode" jdbcType="INTEGER"/>
            <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
            <result column="CARD_TYPE" property="cardType" jdbcType="DECIMAL"/>
            <result column="LINK_ADDRESS" property="linkAddress" jdbcType="VARCHAR"/>
            <result column="CARD_LIFE_TIME" property="cardLifeTime" jdbcType="TIMESTAMP"/>
            <result column="MOBILE_NO" property="mobileNo" jdbcType="VARCHAR"/>
            <result column="CARD_ACTIVATE_TIME" property="cardActivateTime" jdbcType="TIMESTAMP"/>
            <result column="REGISTER_TIME" property="registerTime" jdbcType="TIMESTAMP"/>
            <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
            <result column="WEIXIN_ACCOUNT" property="weixinAccount" jdbcType="VARCHAR"/>
            <result column="STATUS" property="status" jdbcType="INTEGER"/>
            <result column="LOGIN_COUNT" property="loginCount" jdbcType="DECIMAL"/>
            <result column="REGISTER_SOURCE" property="registerSource" jdbcType="VARCHAR"/>
            <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
            <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
            <result column="USER_LEVEL" property="userLevel" jdbcType="INTEGER"/>
            <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP"/>
            <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR"/>
            <result column="ACCUMULATIVE_WITHDRAWALS" property="accumulativeWithdrawals" jdbcType="DECIMAL"/>
            <result column="ACCUMULATIVE_SUBSIDY" property="accumulativeSubsidy" jdbcType="DECIMAL"/>
            <result column="PROVINCE" property="province" jdbcType="DECIMAL"/>
            <result column="CITY" property="city" jdbcType="DECIMAL"/>
            <result column="COUNTY" property="county" jdbcType="DECIMAL"/>
            <result column="PROVINCE_NAME" property="provinceName" jdbcType="DECIMAL"/>
            <result column="CITY_NAME" property="cityName" jdbcType="DECIMAL"/>
            <result column="COUNTY_NAME" property="countyName" jdbcType="DECIMAL"/>
        </association>

        <association property="product" column="PRODUCT_ID"
                     javaType="org.xteam.plus.mars.domain.Product">
            <id column="PRODUCT_ID" property="productId" jdbcType="DECIMAL"/>
            <result column="CARD_TYPE" property="cardType" jdbcType="INTEGER"/>
            <result column="SURVIVAL_PERIOD_MODE" property="survivalPeriodMode" jdbcType="INTEGER"/>
            <result column="SURVIVAL_PERIOD_NUM" property="survivalPeriodNum" jdbcType="INTEGER"/>
            <result column="SEND_PERIOD_MODE" property="sendPeriodMode" jdbcType="INTEGER"/>
            <result column="UPDATED" property="updated" jdbcType="TIMESTAMP"/>
            <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR"/>
            <result column="SEND_PERIOD" property="sendPeriod" jdbcType="INTEGER"/>
            <result column="SEND_TOTAL_COUNT" property="sendTotalCount" jdbcType="INTEGER"/>
            <result column="STATUS" property="status" jdbcType="INTEGER"/>
            <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        </association>
    </resultMap>

    <!--公用选择列-->
    <sql id="selectColumns">
        CARD_NO,
        SEND_PERIOD_MODE
        ,SEND_PERIOD
        ,SEND_TOTAL_COUNT
        ,SEND_COUNT
        ,PRODUCT_ID
        ,CARD_DEADLINE
        ,PRODUCT_TYPE
        ,STATUS
        ,SURVIVAL_PERIOD_MODE
        ,CREATED
        ,SURVIVAL_PERIOD_NUM
        ,UPDATED
        ,BUYER_USER_ID
        ,ACTIVATE_USER_ID
        ,CARD_ACTIVATE_TIME
    </sql>

    <!--公用查询条件-->
    <sql id="queryWhere">
        <where>
            <if test="sendPeriodMode!=null ">
                <![CDATA[
                    and SEND_PERIOD_MODE=#{sendPeriodMode,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="sendPeriod!=null ">
                <![CDATA[
                    and SEND_PERIOD=#{sendPeriod,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="sendTotalCount!=null ">
                <![CDATA[
                    and SEND_TOTAL_COUNT=#{sendTotalCount,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="sendCount!=null ">
                <![CDATA[
                    and SEND_COUNT=#{sendCount,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="productId!=null ">
                <![CDATA[
                    and PRODUCT_ID=#{productId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="cardDeadline!=null ">
                <![CDATA[
                        and CARD_DEADLINE>= str_to_date(CONCAT(date_format(#{cardDeadline,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CARD_DEADLINE<= str_to_date(CONCAT(date_format(#{cardDeadline,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="productType!=null ">
                <![CDATA[
                    and PRODUCT_TYPE=#{productType,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="status!=null ">
                <![CDATA[
                    and STATUS=#{status,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="survivalPeriodMode!=null ">
                <![CDATA[
                    and SURVIVAL_PERIOD_MODE=#{survivalPeriodMode,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="created!=null ">
                <![CDATA[
                        and CREATED>= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CREATED<= str_to_date(CONCAT(date_format(#{created,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="survivalPeriodNum!=null ">
                <![CDATA[
                    and SURVIVAL_PERIOD_NUM=#{survivalPeriodNum,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="updated!=null ">
                <![CDATA[
                        and UPDATED>= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and UPDATED<= str_to_date(CONCAT(date_format(#{updated,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
            <if test="buyerUserId!=null ">
                <![CDATA[
                    and BUYER_USER_ID=#{buyerUserId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="activateUserId!=null ">
                <![CDATA[
                    and ACTIVATE_USER_ID=#{activateUserId,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="cardNo!=null ">
                <![CDATA[
                    and CARD_NO=#{cardNo,jdbcType=DECIMAL}
                    ]]>
            </if>
            <if test="cardActivateTime!=null ">
                <![CDATA[
                        and CARD_ACTIVATE_TIME>= str_to_date(CONCAT(date_format(#{cardActivateTime,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 00:00:00'),'%Y-%m-%d %H:%i:%s')
                        and CARD_ACTIVATE_TIME<= str_to_date(CONCAT(date_format(#{cardActivateTime,jdbcType=TIMESTAMP},'%Y-%m-%d'), ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                        ]]>
            </if>
        </where>
    </sql>

    <!--删除记录-->
    <delete id="delete" parameterType="org.xteam.plus.mars.domain.UserHealthCard">
        delete from T_MARS_USER_HEALTH_CARD
        where CARD_NO= #{cardNo,jdbcType=DECIMAL}
    </delete>

    <!--插入记录-->
    <insert id="insert" parameterType="org.xteam.plus.mars.domain.UserHealthCard" useGeneratedKeys="true"
            keyProperty="cardNo">
        insert into T_MARS_USER_HEALTH_CARD (
        SEND_PERIOD_MODE
        ,SEND_PERIOD
        ,SEND_TOTAL_COUNT
        ,SEND_COUNT
        ,PRODUCT_ID
        ,CARD_DEADLINE
        ,PRODUCT_TYPE
        ,STATUS
        ,SURVIVAL_PERIOD_MODE
        ,CREATED
        ,SURVIVAL_PERIOD_NUM
        ,UPDATED
        ,BUYER_USER_ID
        ,ACTIVATE_USER_ID
        ,CARD_ACTIVATE_TIME
        )values(
        #{sendPeriodMode,jdbcType=INTEGER}
        ,#{sendPeriod,jdbcType=INTEGER}
        ,#{sendTotalCount,jdbcType=INTEGER}
        ,#{sendCount,jdbcType=INTEGER}
        ,#{productId,jdbcType=DECIMAL}
        ,#{cardDeadline,jdbcType=TIMESTAMP}
        ,#{productType,jdbcType=INTEGER}
        ,#{status,jdbcType=INTEGER}
        ,#{survivalPeriodMode,jdbcType=INTEGER}
        ,#{created,jdbcType=TIMESTAMP}
        ,#{survivalPeriodNum,jdbcType=INTEGER}
        ,#{updated,jdbcType=TIMESTAMP}
        ,#{buyerUserId,jdbcType=DECIMAL}
        ,#{activateUserId,jdbcType=DECIMAL}
        ,#{cardActivateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--批量插入记录-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="cardNo">
        insert into T_MARS_USER_HEALTH_CARD (
        SEND_PERIOD_MODE
        ,SEND_PERIOD
        ,SEND_TOTAL_COUNT
        ,SEND_COUNT
        ,PRODUCT_ID
        ,CARD_DEADLINE
        ,PRODUCT_TYPE
        ,STATUS
        ,SURVIVAL_PERIOD_MODE
        ,CREATED
        ,SURVIVAL_PERIOD_NUM
        ,UPDATED
        ,BUYER_USER_ID
        ,ACTIVATE_USER_ID
        ,CARD_ACTIVATE_TIME
        )values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.sendPeriodMode,jdbcType=INTEGER}
            ,#{item.sendPeriod,jdbcType=INTEGER}
            ,#{item.sendTotalCount,jdbcType=INTEGER}
            ,#{item.sendCount,jdbcType=INTEGER}
            ,#{item.productId,jdbcType=DECIMAL}
            ,#{item.cardDeadline,jdbcType=TIMESTAMP}
            ,#{item.productType,jdbcType=INTEGER}
            ,#{item.status,jdbcType=INTEGER}
            ,#{item.survivalPeriodMode,jdbcType=INTEGER}
            ,#{item.created,jdbcType=TIMESTAMP}
            ,#{item.survivalPeriodNum,jdbcType=INTEGER}
            ,#{item.updated,jdbcType=TIMESTAMP}
            ,#{item.buyerUserId,jdbcType=DECIMAL}
            ,#{item.activateUserId,jdbcType=DECIMAL}
            ,#{item.cardActivateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!--更新记录-->
    <update id="update" parameterType="org.xteam.plus.mars.domain.UserHealthCard">
        update T_MARS_USER_HEALTH_CARD
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="sendPeriodMode!=null ">
                    SEND_PERIOD_MODE=#{sendPeriodMode,jdbcType=INTEGER},
                </if>
                <if test="sendPeriod!=null ">
                    SEND_PERIOD=#{sendPeriod,jdbcType=INTEGER},
                </if>
                <if test="sendTotalCount!=null ">
                    SEND_TOTAL_COUNT=#{sendTotalCount,jdbcType=INTEGER},
                </if>
                <if test="sendCount!=null ">
                    SEND_COUNT=#{sendCount,jdbcType=INTEGER},
                </if>
                <if test="productId!=null ">
                    PRODUCT_ID=#{productId,jdbcType=DECIMAL},
                </if>
                <if test="cardDeadline!=null ">
                    CARD_DEADLINE=#{cardDeadline,jdbcType=TIMESTAMP},
                </if>
                <if test="productType!=null ">
                    PRODUCT_TYPE=#{productType,jdbcType=INTEGER},
                </if>
                <if test="status!=null ">
                    STATUS=#{status,jdbcType=INTEGER},
                </if>
                <if test="survivalPeriodMode!=null ">
                    SURVIVAL_PERIOD_MODE=#{survivalPeriodMode,jdbcType=INTEGER},
                </if>
                <if test="created!=null ">
                    CREATED=#{created,jdbcType=TIMESTAMP},
                </if>
                <if test="survivalPeriodNum!=null ">
                    SURVIVAL_PERIOD_NUM=#{survivalPeriodNum,jdbcType=INTEGER},
                </if>
                <if test="updated!=null ">
                    UPDATED=#{updated,jdbcType=TIMESTAMP},
                </if>
                <if test="buyerUserId!=null ">
                    BUYER_USER_ID=#{buyerUserId,jdbcType=DECIMAL},
                </if>
                <if test="activateUserId!=null ">
                    ACTIVATE_USER_ID=#{activateUserId,jdbcType=DECIMAL},
                </if>
                <if test="cardActivateTime!=null ">
                    CARD_ACTIVATE_TIME=#{cardActivateTime,jdbcType=TIMESTAMP},
                </if>
            </trim>
        </set>
        where CARD_NO= #{cardNo,jdbcType=DECIMAL}
    </update>

    <!--查询单条记录-->
    <select id="get" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserHealthCard">
        select
        CARD_NO
        ,SEND_PERIOD_MODE
        ,SEND_PERIOD
        ,SEND_TOTAL_COUNT
        ,SEND_COUNT
        ,PRODUCT_ID
        ,CARD_DEADLINE
        ,PRODUCT_TYPE
        ,STATUS
        ,SURVIVAL_PERIOD_MODE
        ,CREATED
        ,SURVIVAL_PERIOD_NUM
        ,UPDATED
        ,BUYER_USER_ID
        ,ACTIVATE_USER_ID
        ,CARD_ACTIVATE_TIME
        from T_MARS_USER_HEALTH_CARD
        where CARD_NO= #{cardNo,jdbcType=DECIMAL}
    </select>


    <!--分页查询记录-->
    <select id="query" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserHealthCard">
        select
        <include refid="selectColumns"></include>
        from T_MARS_USER_HEALTH_CARD
        <include refid="queryWhere"></include>
        limit #{start},#{limit}
    </select>

    <!--查询记录数-->
    <select id="queryCount" resultType="int" parameterType="org.xteam.plus.mars.domain.UserHealthCard">
        select count(1)
        from T_MARS_USER_HEALTH_CARD
        <include refid="queryWhere"></include>
    </select>


    <!-- 关联查询 -->
    <!--公用选择列-->
    <sql id="selectColumnsRf">
        TMUHC.CARD_NO
        ,TMUHC.SEND_PERIOD_MODE
        ,TMUHC.SEND_PERIOD
        ,TMUHC.SEND_TOTAL_COUNT
        ,TMUHC.SEND_COUNT
        ,TMUHC.PRODUCT_ID
        ,TMUHC.CARD_DEADLINE
        ,TMUHC.PRODUCT_TYPE
        ,TMUHC.STATUS
        ,TMUHC.SURVIVAL_PERIOD_MODE
        ,TMUHC.CREATED
        ,TMUHC.SURVIVAL_PERIOD_NUM
        ,TMUHC.UPDATED
        ,TMUHC.BUYER_USER_ID
        ,TMUHC.ACTIVATE_USER_ID
        ,TMUHC.CARD_ACTIVATE_TIME
        ,TMUI.USER_ID
        ,TMUI.CARD_NO
        ,TMUI.ID_NUMBER
        ,TMUI.CARD_ACTIVATE_MODE
        ,TMUI.REAL_NAME
        ,TMUI.CARD_TYPE
        ,TMUI.LINK_ADDRESS
        ,TMUI.CARD_LIFE_TIME
        ,TMUI.MOBILE_NO
        ,TMUI.CARD_ACTIVATE_TIME
        ,TMUI.REGISTER_TIME
        ,TMUI.CREATED
        ,TMUI.WEIXIN_ACCOUNT
        ,TMUI.STATUS
        ,TMUI.LOGIN_COUNT
        ,TMUI.REGISTER_SOURCE
        ,TMUI.UPDATED
        ,TMUI.PASSWORD
        ,TMUI.USER_LEVEL
        ,TMUI.LAST_LOGIN_TIME
        ,TMUI.NICK_NAME
        ,TMUI.PROVINCE
        ,TMUI.CITY
        ,TMUI.COUNTY
        ,TMUI.PROVINCE_NAME
        ,TMUI.CITY_NAME
        ,TMUI.COUNTY_NAME
    </sql>

    <sql id="queryWhereRf">
        <where>
            <if test="status!=null ">
                <![CDATA[
                    and TMUHC.STATUS=#{status,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="cardNo!=null ">
                <![CDATA[
                    and TMUHC.CARD_NO=#{cardNo,jdbcType=INTEGER}
                    ]]>
            </if>
            <if test="activateUserInfo!=null ">
                <if test="activateUserInfo.realName!=null ">
                    <![CDATA[
                    and TMUI.REAL_NAME LIKE #{activateUserInfo.realName,jdbcType=INTEGER}
                    ]]>
                </if>
            </if>
        </where>
    </sql>

    <!--分页查询记录-->
    <select id="queryForActiveUser" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserHealthCard">
        select
        <include refid="selectColumnsRf"></include>
        FROM T_MARS_USER_HEALTH_CARD TMUHC
        LEFT JOIN T_MARS_USER_INFO TMUI ON TMUHC.ACTIVATE_USER_ID = TMUI.USER_ID
        <include refid="queryWhereRf"></include>
        limit #{start},#{limit}
    </select>

    <!--查询记录数-->
    <select id="queryForActiveUserCount" resultType="int" parameterType="org.xteam.plus.mars.domain.UserHealthCard">
        select count(*)
        FROM T_MARS_USER_HEALTH_CARD TMUHC
        LEFT JOIN T_MARS_USER_INFO TMUI ON TMUHC.ACTIVATE_USER_ID = TMUI.USER_ID
    </select>

    <select id="getForUser" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserHealthCard">
        SELECT
        <include refid="selectColumnsRf"></include>
        FROM T_MARS_USER_HEALTH_CARD TMUHC
        LEFT JOIN T_MARS_USER_INFO TMUI ON TMUHC.ACTIVATE_USER_ID = TMUI.USER_ID
        where TMUHC.CARD_NO= #{cardNo,jdbcType=DECIMAL}
    </select>


    <sql id="selectColumnsRfProduct">
        TMUHC.CARD_NO
        ,TMUHC.SEND_PERIOD_MODE
        ,TMUHC.SEND_PERIOD
        ,TMUHC.SEND_TOTAL_COUNT
        ,TMUHC.SEND_COUNT
        ,TMUHC.PRODUCT_ID
        ,TMUHC.CARD_DEADLINE
        ,TMUHC.PRODUCT_TYPE
        ,TMUHC.STATUS
        ,TMUHC.SURVIVAL_PERIOD_MODE
        ,TMUHC.CREATED
        ,TMUHC.SURVIVAL_PERIOD_NUM
        ,TMUHC.UPDATED
        ,TMUHC.BUYER_USER_ID
        ,TMUHC.ACTIVATE_USER_ID
        ,TMUHC.CARD_ACTIVATE_TIME
        ,TMP.PRODUCT_ID
        ,TMP.CARD_TYPE
        ,TMP.SURVIVAL_PERIOD_MODE
        ,TMP.SURVIVAL_PERIOD_NUM
        ,TMP.SEND_PERIOD_MODE
        ,TMP.UPDATED
        ,TMP.PRODUCT_NAME
        ,TMP.SEND_PERIOD
        ,TMP.SEND_TOTAL_COUNT
        ,TMP.STATUS
        ,TMP.CREATED
    </sql>
    <select id="queryForProductByActive" resultMap="BaseResultMap" parameterType="org.xteam.plus.mars.domain.UserHealthCard">
        SELECT
        <include refid="selectColumnsRfProduct"/>
        FROM T_MARS_USER_HEALTH_CARD TMUHC
        LEFT JOIN T_MARS_PRODUCT TMP ON TMUHC.PRODUCT_ID = TMP.PRODUCT_ID
        WHERE TMUHC.ACTIVATE_USER_ID = #{activateUserId,jdbcType=DECIMAL} AND TMUHC.STATUS = 1
    </select>
</mapper>