.ios .navbar {
    background: #ff0000;
    color: #ffffff;
}

.md .navbar {
    height: 44px;
    background: #ff0000;
    color: #ffffff;
}
/*.toolbar-inner{*/
    /*background: #ff0000;*/
    /*color: #ffffff;*/
/*}*/
.ios .button.button-fill, .ios .button.button-fill-ios {
    color: #fff;
    background: #ff0000;
    border-color: transparent;
}

.md .button.button-fill, .ios .button.button-fill-ios {
    color: #fff;
    background: #ff0000;
    border-color: transparent;
}
.md .tabbar a.tab-link-active, .ios .tabbar-labels a.tab-link-active{
    color: #ff0000;
}

.md .button.button-active, .md .button.button-fill, .md .button.button-fill-md, .md .button.tab-link-active {
    background-color: #ff0000;
    color: #fff;
}

.ios .button.button-active, .md .button.button-fill, .md .button.button-fill-md, .md .button.tab-link-active {
    background-color: #ff0000;
    color: #fff;
}


/*.ios .toolbar {*/
    /*height: 44px;*/
    /*font-size: 17px;*/
    /*background: #f7f7f8;*/
    /*bottom: 0;*/
/*}*/
.md .toolbar {
    height: 44px;
    font-size: 17px;
    color: #1b1b1b;
    background: #f7f7f8;
    bottom: 0;
}

.size-16 { font-size: 16px }
.size-22 { font-size: 22px }
.size-25 { font-size: 25px }
.size-29 { font-size: 29px }
.size-50 { font-size: 50px }
.color-red { color: #ff0000
}
.color-yellow { color: #ffc019
}
.color-blue { color: #3e13ff
}
.color-white { color: #ffffff
}

.color-black { color: #000000
}
.center{text-align: center;}


.page-content{
    background:#FFFFFF
}