.ios .navbar {
    background: #E35041;
    color: #ffffff;
}

.md .navbar {
    height: 44px;
    background: #E35041;
    color: #ffffff;
}
/*.toolbar-inner{*/
    /*background: #E35041;*/
    /*color: #ffffff;*/
/*}*/
.ios .button.button-fill, .ios .button.button-fill-ios {
    color: #fff;
    background: #E35041;
    border-color: transparent;
}

.md .button.button-fill, .ios .button.button-fill-ios {
    color: #fff;
    background: #E35041;
    border-color: transparent;
}
.md .tabbar a.tab-link-active, .ios .tabbar-labels a.tab-link-active{
    color: #E35041;
}
.md .toolbar {
    height: 44px;
    font-size: 17px;
    color: #1b1b1b;
    background: #f7f7f8;
    bottom: 0;
}

.size-16 { font-size: 16px }
.size-22 { font-size: 22px }
.size-25 { font-size: 25px }
.size-29 { font-size: 29px }
.size-50 { font-size: 50px }
/*.color-red { color: #E35041*/
/*}*/
/*.color-yellow { color: #ffc019*/
/*}*/
/*.color-green { color: #02ff55*/
/*}*/
/*.color-blue { color: #3e13ff*/
/*}*/
/*.color-white { color: #ffffff*/
/*}*/
/*.color-gray { color: #9e9e9e*/
/*}*/
/*.color-black { color: #000000*/
/*}*/
.center{
    text-align: center;
}

.font-10{
    font-size: 10px;
}
.font-12{
        font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.page-content{
    background:#FFFFFF
}
.bottomfixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f7f7f8;
    z-index:1;
    box-shadow:0 0 2px #8f8f94 inset;
}

.bg-color-lightred{
    background-color: #ffe3df;
}
.bg-color-light-blue{
    background-color: #d9f8ff;
}
.top-16{
    padding-top: 16px;
}
.left-3{
    text-align: left;
    padding-left:  3px
}
.left-16{
    text-align: left;
    padding-left:  16px
}
.right-16{
    text-align: right;
    padding-right:  16px
}
.height-44{
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
    height: 44px;
}
.height-25{
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
    height: 25px;
}

.height-65{
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
    height: 65px;
}
.bdbox{display: table;width: 90%;padding:0.2rem;border: 1px solid #e35142;border-radius: 5px;margin: 0.3rem 5%}

.timeline-item-inner{
    background: #ffe8a3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    width: 100%;
    text-align: center;
    border-radius: 3px;
}

.button2 {
    font-size: 16px;
    padding: 8px 0;
    border: 1px solid #adadab;
    color: #000000;
    background-color: #e8e8e8;
    background-image: linear-gradient(to top, #dbdbdb, #f4f4f4);
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#dbdbdb), to(#f4f4f4));
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45), inset 0 1px 1px #efefef;
    text-shadow: 0.5px 0.5px 1px #ffffff;
}

.button2:active {
    background-color: #dedede;
    background-image: linear-gradient(to top, #cacaca, #e0e0e0);
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#cacaca), to(#e0e0e0));
}

#mess_share {
    margin: 15px 0;
}

#share_1 {
    float: left;
    width: 49%;
}

#share_2 {
    float: right;
    width: 49%;
}

#mess_share img {
    width: 22px;
    height: 22px;
}

#cover {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 18888;
    background-color: #000000;
    opacity: 0.7;
}

#guide {
    display: none;
    position: absolute;
    right: 18px;
    top: 5px;
    z-index: 19999;
}

#guide img {
    width: 260px;
    height: 180px;
}