.ios .navbar {
    background: #ff0000;
    color: #ffffff;
}

.md .navbar {
    background: #ff0000;
    color: #ffffff;
}
.navbar .navbar-inner .toolbar-inner {
    background: #ff0000;
    color: #ffffff;
}

