#header{height: 0.9rem;background: #e35142;position: relative;border-bottom: 0.05rem solid #f3eef5;}
#header h1{line-height: 0.87rem;text-align: center;color: #fff;font-size: 0.34rem;font-weight:normal;}
#header #back{border-top: 3px solid #fff;border-right:3px solid #fff;transform:rotate(-135deg);display: inline-block;width: 0.28rem;height: 0.28rem;position: absolute;top:0.3rem;left:0.3rem;}
#header .headerfr{position: absolute;top:0.27rem;right:0.3rem;font-size: 0.28rem;color: #fff}
#header .headerfr .imgi{width: 0.5rem}
#header .headerfrm{position: absolute;top:0.18rem;right:0.3rem;font-size: 0.28rem;color: #fff}
#header .headerfrm .imgi{width: 0.5rem}
.buttonbig{background: #e35142;color: #fff;font-size: 0.3rem;text-align: center;border-radius: 5px;height: 0.87rem;line-height: 0.87rem;border:1px solid #e35142}
.buttonbigbor{background: #fff;color: #e35142;font-size: 0.3rem;text-align: center;border-radius: 5px;height: 0.87rem;line-height: 0.87rem;border:1px solid #e35142;}
.hyrknonehyimg{width: 40%;margin-top: 30%}
.contentbox{border-top: 1px solid #dfdfe1}
.bgf8f8f8{background: #f8f8f8}
.bgfff{background: #fff}
.bg888{background: #eeeeee}
.bgf4f4f4{background: #f4f4f4}
.messagelist dl{display: table;width: 100%;margin: 0 auto;border-bottom: 2px solid #efeff4;padding:0.2rem;}
.messagelist dl dt{display: table-cell;width: 1.5rem;vertical-align: middle;text-align: center;position: relative;}
.messagelist dl dt em{display:inline-block;border-radius: 50%;background: #e35142;color: #fff;text-align:center;font-size: 0.2rem;height: 0.35rem;width: 0.35rem;line-height:0.35rem;position: absolute;top:0;right:0;}
.messagelist dl dt img{width: 90%;border: 1px solid #efeff4;border-radius: 5px;overflow: hidden;}
.messagelist dl dd{display: table-cell;vertical-align: middle;}
.messagelist dl dd h1{font-weight: normal;font-size: 0.28rem;}
.messagelist dl dd h1 span{font-size: 0.24rem;float: right}
.messagelist dl dd h1 span em{display: inline-block;width: 0.35rem;height: 0.35rem;background:url(images/or_1.png) no-repeat center center;background-size:.35rem 0.35rem; margin-left: 0.1rem;}
.messagelist dl dd h1 span em.active{background:url(images/or_2.png) no-repeat center center;background-size:.35rem 0.35rem;}
.messagelist dl dd p{font-size: 0.24rem;padding-top: 0.08rem;}
.messagedet .messageddate {border-bottom: 1px solid #f3eef5;padding:0.15rem 5%;font-size: 0.24rem;}
.messagedet .messagescont {padding:0.15rem 5%;font-size: 0.24rem;line-height: 1.8em;}

.policybox{padding: 0 0.2rem;background: #fff;}
.policybox dl{display: table;width:100%;border-bottom: 1px solid #f5f5f5;padding:0.25rem 0;}
.policybox dl dt{display: table-cell;text-align: left;}
.policybox dl dd{display: table-cell;text-align: right; vertical-align: middle;}
.policybox dl.tlr dt,.policybox dl.tlr dd{display: block;width: 100%}
.policybox dl.tlr dd{text-align: left;line-height: 1.3em;padding-top: 0.2rem;}
.policybox dl.tlr dd.c929292{color: #929292}
.policybox .icoimg {width: 0.4rem; vertical-align: middle;margin-right: 0.15rem;}

.bxfwbox dl{background: #fff;margin-bottom: 0.2rem;padding: 0.2rem;}
.bxfwbox dl dt{display: table;width: 100%;font-size: 0.28rem;padding:0.1rem 0;}
.bxfwbox dl dt span{text-align: left;display: table-cell;}
.bxfwbox dl dt span:last-child{text-align: right;color: #929292}
.bxfwbox dl dd{padding-top: 0.2rem;}
.bxfwbox dl dd .bximg{position: relative;}
.bxfwbox dl dd .bximg img{width: 100%}
.bxfwbox dl dd .bximg img.bzzico{width: 25%;position: absolute;top:0;right:0.2rem;}
.bxfwbox dl dd p{font-size:0.3rem;color: #e35142;text-align: right;}


.questionslist dl{border-bottom: 1px solid #f8f8f8;background: #fff;}
.questionslist dl dd{display: none}
.questionslist dl dt,.questionslist dl dd{padding:0.3rem;}
.questionslist dl dt{background: url(images/wh.png) no-repeat 0.2rem center;background-size: 0.35rem;padding-left: 0.6rem;}
.questionslist dl dt:after{content: '';display: inline-block;float: right;border-top: 1px solid #999999;border-right:1px solid #999999;transform:rotate(45deg);display: inline-block;width: 0.18rem;height: 0.18rem;margin-top: 0.07rem;}

.memberlist{border-bottom: 0.2rem solid #f8f8f8;}
.memberlist .memberlisttable thead{border-bottom: 1px solid #d4d6d5}
.memberlist .memberlisttable thead th{font-weight: normal;text-align: center;padding:0.2rem 0;background: #eeeeee;}
.memberlist .memberlisttable thead th p{border-left: 1px solid #d4d6d5;}
.memberlist .memberlisttable thead th:first-child p{border-left: none}
.memberlist .memberlisttable tbody{background: #fff}
.memberlist .memberlisttable tbody td{text-align: center;border-bottom: 1px solid #f8f8f8}
.memberlist .memberlisttable tbody td .fn-left{display: inline-block;}
.memberlist .memberlisttable tbody td:nth-child(1){text-align: left;padding-left: 0.2rem;}
.memberlist .memberlisttable tbody td dl{display: table;width: 100%;}
.memberlist .memberlisttable tbody dl dt,.memberlist .memberlisttable tbody dl dd{display: table-cell;vertical-align: middle;font-size: 0.24rem}
.memberlist .memberlisttable tbody dl dd{line-height:1.7em;}
.memberlist .memberlisttable tbody dl dt{width: 1.2rem;}
.memberlist .memberlisttable tbody dl img{border-radius: 5px;width: 90%}
.portrait_img{border-radius: 5px; overflow: hidden;width: 0.8rem;vertical-align: middle;margin-right: 0.1rem;}

.memberbox-info{border-bottom:0.1rem solid #f0eff4;}
.memberbox-info dl{display: table;width: 100%;border-bottom: 1px solid #f0eff4;}
.memberbox-info dl dt{ display: table-cell;width: 2rem;padding:0.2rem;text-align: center;}
.memberbox-info dl dt img{width: 90%;border-radius: 5px; overflow: hidden;}
.memberbox-info dl dd{display: table-cell; vertical-align: middle;font-size: 0.28rem;line-height: 1.8em;}
.memberbox-infodiv{display: table;width: 100%;padding:0.2rem;}
.memberbox-infodiv span{display: table-cell;text-align: left;width: 50%;color: #e35142}
.memberbox-infodiv span:last-child{text-align: right }
.memberbox-infodiv span:first-child{background: url(images/sg.png) no-repeat center left;background-size: 0.3rem;padding-left: 0.4rem;}
.memberbox-infodiv span.gyhy{background: url(images/gyhy.png) no-repeat center left;background-size: 0.3rem;padding-left: 0.4rem;}
.memberbox-infodiv span.cwls{background: url(images/cwls.png) no-repeat center left;background-size: 0.3rem;padding-left: 0.4rem;}
.memberbox-infodiv span.ls{background: url(images/ls.png) no-repeat center left;background-size: 0.3rem;padding-left: 0.4rem;}
.memberbox-nav h1{font-size: 0.34rem;text-align: center;font-weight: normal;padding:0.3rem 0.2rem 0.4rem;}
.memberbox-nav dl{display: inline-block;margin-left: 5%;width: 25%;text-align: center;}
.memberbox-nav dl dt img{width: 50%}
.memberbox-nav dl dd{padding-bottom: 0.3rem;}

.menberplt{background: #fff;padding: 0.2rem;border-bottom:0.1rem solid #f0eff4;}
.menberplt1{background: #fff;border-bottom:0.1rem solid #f0eff4;}
.bottombor{border-bottom: 1px solid #f8f8f8;background: #fff;padding-bottom: 0.3rem;}
.lcbox{height: 0.25rem;border-radius: 30px;text-align: center;background:#f9ebea;overflow: hidden;margin-bottom: 0.15rem;font-size: 0.22rem;position: relative;}
.lcbox div{float:left;width: 50%;background:#f6e079;height: 0.25rem;}
.lcbox span{position: absolute;width: 100%;text-align: center;left:0;top:0;width: 100%}

.dtable{display: table;width: 100%;padding:0.2rem 0 0.3rem;}
.dtable dt{display: table-cell;text-align: left;}
.dtable dd{display: table-cell;text-align: right;}

.jcjl-box dl{display: table;width: 100%;padding:0.2rem;border-bottom: 1px solid #f8f8f8}
.jcjl-box dl dt,.jcjl-box dl dd{display: table-cell;vertical-align: middle;}
.jcjl-box dl dt{background: url(images/jcjl.png) no-repeat left center;background-size: 0.4rem;padding-left: 0.5rem;}
.jcjl-box dl dd{text-align: right;}
.jcjl-box dl dd:after{content: '';display: inline-block;float: right;border-top: 1px solid #999999;border-right:1px solid #999999;transform:rotate(45deg);display: inline-block;width: 0.15rem;height: 0.15rem;margin-top: 0.13rem;}

.jcjg-box .icoimg {width: 0.4rem; vertical-align: middle;margin-right: 0.15rem;}
.jcjg-box .icoimg1 {width: 0.25rem; vertical-align: middle;margin-right: 0.15rem;}
.jcjg-box p{padding:0.2rem 0;border-bottom: 1px solid #f8f8f8;line-height: 0.4rem;}
.jcjg-box dl{display: table;padding: 0;width: 100%;padding:0.2rem 0;border-bottom: 1px solid #f8f8f8;line-height: 0.4rem;}
.jcjg-box dl dt,.jcjg-box dl dd{display: table-cell;vertical-align: top;font-size: 0.28rem;}
.jcjg-box dl dd{text-align: right;}
.jcjg-box dl dd p{padding:0;font-size: 0.22rem;}
.kbboxs{box-shadow: 0 0 10px rgba(0,0,0,.2); overflow-y: scroll;height: 3rem;padding:0.2rem; }
.kbboxs textarea{border: none;width: 100%;height: 2.4rem;}
.kbtitle{padding-bottom: 0.3rem;padding-top: 0.2rem;}
.kbtitle img{height: 0.45rem; vertical-align: middle;margin-right: 0.1rem;}
.kbboximgs{box-shadow: 0 0 10px rgba(0,0,0,.1);padding:0.2rem;  }
.kbboximgs ul.fln li{float: left;width: 25%;}
.kbboximgs ul.fln li img{width: 90%;}
.tjyhk dl{display: table;padding: 0;width: 100%;padding:0.2rem;border-bottom: 1px solid #f8f8f8;line-height: 0.4rem;}
.tjyhk dl dt,.tjyhk dl dd{display: table-cell;vertical-align: middle;}
.tjyhk dl dd input{border:none;}
.tjyhk dl dt{width: 4em;}

.yqbox{text-align: center;}
.yqbox h1{font-size: 0.32rem;padding: 0.3rem 0}
.yqbox h2{font-size: 0.28rem;font-weight: bold;}
.yqbox textarea{border:1px solid #ddd;width: 80%;height: 1rem;margin-top: 0.3rem;padding:0.2rem;}
.jrxz{width: 90%;margin-top: 1rem;margin-left: 5%}
.jrxz p{font-size: 0.34rem;margin-bottom: 0.2rem;}
.jrxz li{font-size: 0.28rem;color: #666}

.yqgmjkk{padding:0.3rem 0.2rem;}
.yqgmjkk .dtbbor{border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;padding:0.2rem 0;margin:0.3rem 0;}
.yqgmjkk .inputbox{border:1px solid #ccc;border-radius: 5px;width: 80%;margin: 0.2rem 10%;height: 0.5rem;line-height: 0.5rem;padding-left: 0.1rem;}
.kstjselect li{background: url(images/o_1.png) no-repeat left center;background-size: 0.3rem;padding-left: 0.4rem;margin-top:0.15rem;}
.kstjselect li.active{background: url(images/o_2.png) no-repeat left center;background-size: 0.3rem;padding-left: 0.4rem;margin-top:0.15rem;}

.mytm-box dl{display: table;width: 100%;padding:0.2rem 0;border-bottom: 1px solid #f8f8f8}
.mytm-box dl dt,.mytm-box dl dd{display: table-cell;vertical-align: middle;}
.mytm-box dl dd{text-align: right;}
.mytm-box dl dd:after{content: '';display: inline-block;float: right;border-top: 1px solid #999999;border-right:1px solid #999999;transform:rotate(45deg);display: inline-block;width: 0.15rem;height: 0.15rem;margin-top: 0.13rem;}
.mytm-box dl dt .imgico{width: 0.4rem; vertical-align: middle;margin-right: 0.1rem;margin-top: -0.08rem;}
.cytwo li{float:left;width: 50%;text-align: center;font-size: 0.3rem;margin: 0.2rem 0}
.cytwo li:first-child{border-right: 1px solid #ccc;}
.cytwo li p{font-size: 0.5rem;color: #e35041}
.mysf img{width: 0.4rem; vertical-align: middle;margin-right: 0.1rem;margin-top: -0.08rem;}
.mysf select{margin-top: 0.2rem;font-size: 0.24rem;margin-left: 0.1rem;}
.mysf{font-size: 0.28rem;}


.bdbox dl{display: table;width: 90%;padding:0.2rem;border: 1px solid #e35142;border-radius: 5px;margin: 0.3rem 5%}
.bdbox dl dt,.bdbox dl dd{display: table-cell;vertical-align: middle;}
.bdbox dl dt img{width: 0.7rem;}
.bdbox dl dd{padding-left: 0.2rem;font-size: 0.22rem;color: #333;position: relative;}
.bdbox dl dd h1{font-size: 0.28rem;font-weight: normal;padding-bottom: 0.15rem;}
.bdbox dl dd img.bzzico{width: 25%;position: absolute;top:-0.2rem;right:0.2rem;}

.abt-box dl{text-align: center;}
.abt-box dl dt{padding-top: 0.3rem;padding-bottom: 0.2rem;}
.abt-box dl dt img{width: 1rem;}
.abt-box dl dd p:nth-child(1){font-size: 0.28rem;}
.abt-box dl dd p:nth-child(2){font-size: 0.57rem;padding-top: 0.1rem;}


.yytjkk{width: 2rem;display: inline-block;font-size: 0.24rem;position: relative;color: #929292;z-index: 9}
.yytjkk p{border:1px solid #e9e9e9;border-radius: 5px;height: 0.4rem;line-height: 0.4rem;text-align: left;padding-left: 0.24rem;}
.yytjkk p em{display: inline-block;border-top: 1px solid #999999;border-right:1px solid #999999;transform:rotate(-45deg);width: 0.15rem;height: 0.15rem;position: absolute;top:0.15rem;right:0.1rem;}
.yytjkk p.select em{transform:rotate(135deg);top:0.05rem;right:0.1rem;}
.yytjkk ul{border:1px solid #e9e9e9;margin-top: -1px;padding:0.1rem 0;display: none;position: absolute;left:4%;top:0.4rem;width: 92%;background: #fff;}
.yytjkk ul li{height: 0.4rem;line-height: 0.4rem;text-align: left;padding-left: 0.15rem;}
.policybox .bornone{border-bottom: none}
.yytjkk ul li.active{color: #d25b4a}

.jhbox dl{background:#eaf1f9;border-radius: 0.2rem;border-bottom-left-radius: 0rem;border-bottom-right-radius: 0rem;width: 94%;margin: 0.3rem auto 0;position: relative;padding:0.2rem 0.4rem;}
.jhbox dl .jhico {display: none;position: absolute;top:0;right: 0.2rem;width: 1.2rem;}
.jhbox dl .wjhico{display: block;position: absolute;top:0.2rem;right: 0.2rem;font-size: 0.2rem;}
.jhbox dl .wjhico img{width: 0.5rem;vertical-align: middle;margin-left: 0.1rem;}
.jhbox dl .name{display: none;}
.jhbox dl dt{height: 0.5rem; line-height: 0.5rem;font-size: 0.3rem;}
.jhbox dl dd p{font-size: 0.28rem;padding-bottom: 0.15rem;}
.jhbox dl dd .jhtime,.jhbox dl dd .gmtime{font-size: 0.18rem;}
.jhbox dl dd .jhtime{float: left;display: none;}
.jhbox dl dd .gmtime{float: right;}
.jhbox dl.jhboxactive{background:#f9ebea;}
.jhbox dl.jhboxactive .jhico{display: block;}
.jhbox dl.jhboxactive .wjhico{display: none;}
.jhbox dl.jhboxactive .jhtime{display: block;}
.jhbox dl.jhboxactive .name{display: block;}

.memberbox-a dd{position: relative;}
.memberbox-a dd:after{content: '';border-top: 1px solid #999999;border-right:1px solid #999999;transform:rotate(45deg);display: inline-block;width: 0.15rem;height: 0.15rem;position: absolute;top:50%;margin-top: -0.07rem;right:0.3rem;}
.memberbox-ared dd{position: relative;}
.memberbox-ared dd:after{content: '';border-top: 1px solid #d25b4a;border-right:1px solid #d25b4a;transform:rotate(45deg);display: inline-block;width: 0.15rem;height: 0.15rem;position: absolute;top:50%;margin-top: -0.07rem;right:0.3rem;}


.grzxabt dl{display: table;width: 90%;padding:0.2rem;}
.grzxabt dl dt,.grzxabt dl dd{display: table-cell;vertical-align: middle;width: 50%}
.grzxabt dl dt img{width: 1.2rem;}
.grzxabt dl dt{text-align: right;}
.grzxabt dl dd{padding-left: 0.2rem;font-size: 0.36rem;color: #d25b4a;line-height: 0.9rem;}
.menubox{padding-left: 1%;border-top: 1px solid #eeeeee;padding-top: 0.15rem;}
.menubox li{padding-top: 0.6rem;font-size: 0.26rem;text-align: center;float: left;width: 33%;padding-bottom: 0.1rem; }
.menubox li.ico1{background: url(images/menuico.png) no-repeat top center;background-size:0.5rem;}
.menubox li.ico2{background: url(images/menuico1.png) no-repeat top center;background-size:0.5rem;}
.menubox li.ico3{background: url(images/menuico2.png) no-repeat top center;background-size:0.5rem;}
.menubox li.active{color: #d25b4a}
.menubox li.ico1.active{background: url(images/menuicoa.png) no-repeat top center;background-size:0.5rem;}
.menubox li.ico3.active{background: url(images/menuico2a.png) no-repeat top center;background-size:0.5rem;}

.gmfixed{border-top: 1px solid #eee;width: 100%;display: table;height: 0.9rem;line-height: 0.9rem;}
.gmfixed .butright,.gmfixed p{display: table-cell;vertical-align: middle;}
.gmfixed p{text-align: left;font-size: 0.3rem;padding-left: 0.2rem;}
.gmfixed p span{font-size: 0.36rem;}
.gmfixed .butright{background: #d25b4a;color: #fff;font-size: .3rem;text-align: center;width: 2rem;}
.gmfixed .butright:after{content: '';border-top: 1px solid #fff;border-right:1px solid #fff;transform:rotate(45deg);display: inline-block;width: 0.15rem;height: 0.15rem;}
.gmnum dl{width: 100%;display: table;border-top: 1px solid #eee;padding:0.4rem 0.2rem;}
.gmnum dl dt{width: 1.5rem;display: table-cell;vertical-align: middle;}
.gmnum dl dt img{width: 80%;}
.gmnum dl dd{display: table-cell;vertical-align: middle;text-align: left;}

.gmnumbox.nr{float: right;margin-top: 0.4rem;}
.gmnumbox a{background: #fff;border:1px solid #d25b4a;width: 0.4rem;height: 0.4rem;display: inline-block;border-radius: 50%;text-align: center;font-size: 0.4rem;line-height: 0.3rem;color: #d25b4a}
.gmnumbox a:hover{background: #d25b4a;color: #fff}
.gmnumbox input{display: inline-block;width: 0.5rem;text-align: center;border:none;}
.gmnumbox a.hs{background: #929292;border:1px solid #929292;width: 0.4rem;height: 0.4rem;display: inline-block;border-radius: 50%;text-align: center;font-size: 0.4rem;line-height: 0.3rem;color: #fff}
.gmnumbox a.hs:hover{background: #d25b4a;color: #fff;border:1px solid #d25b4a;}


.ktgyhy{text-align: center;}
.ktgyhy .ktgyhytitle{border-bottom: 1px solid #e6e6e6;padding: 0.2rem;text-align: left;}
.ktgyhy .ktgyhybox{border:1px solid #e6e6e6;border-radius: 0.2rem;margin:0.2rem auto;padding:0.2rem 0.4rem;width: auto;display: inline-block;text-align: right;}
.ktgyhy .ktgyhybox p:nth-child(1){font-size: 0.3rem;}
.ktgyhy .ktgyhybox p:nth-child(2){font-size: 0.47rem;color: #d25b4a}
.ktgyhy .ktgyhybox p:nth-child(3){font-size: 0.18rem;color: #929292}

.butakstj{background: #ffc969;height: 0.9rem;line-height: 0.9rem;text-align: center;display: inline-block;color: #fff;border-radius: 30px;width: 40%;margin-left: 5%;font-size: 0.3rem;}
.butacxtjjg{background: #d25b4a;height: 0.9rem;line-height: 0.9rem;text-align: center;display: inline-block;color: #fff;border-radius: 30px;width: 40%;margin-left: 5%;font-size: 0.3rem;}
.jklogo li{width: 23%;display: inline-block;text-align: center;padding:0.2rem;}
.jklogo li img{width: 80%;}

.zabg{background: #f5f5f5;width: 80%;margin:0.5rem auto;}
.zabgtop {position: relative;}
.zabgtop p{position: absolute;bottom:11%;left:0;width: 100%;text-align: center;color: #fff;font-size: 0.28rem;}
.zabgtop p img{border-radius: 5px; overflow: hidden;width:23%;}
.zabgtop img{width: 100%}
.zabgbottom img{width: 100%}
.zabgbottom {position: relative;}
.zabgbottom p{position: absolute;top:0;left:0;width: 100%;text-align: center;padding-top: 0.05rem}
.zabgcenter{text-align: center;}
.zabgcenter .ewm{width: 40%;}
.lxb{padding-top: 0.3rem;font-size: 0.22rem;line-height: 1.5em;}
.textareabox{border:1px solid #d25b4a;border-radius:5px;background:#f8f8f8;height:2rem;width:100%;padding:0.2rem;}


.zz-box dl{display: table;width: 100%;padding:0.2rem 0;border-bottom: 1px solid #f8f8f8}
.zz-box dl dt,.zz-box dl dd{display: table-cell;vertical-align: middle;}
.zz-box dl dd{text-align: left;}
.zz-box dl dt{width: 1.5rem;}

.cwlsyw:after{content: '';border-top: 2px solid #d25b4a;border-right:2px solid #d25b4a;transform:rotate(45deg);display: inline-block;width: 0.15rem;height: 0.15rem;margin-right: 0.2rem;}
.cwlsyw{border-bottom: 1px solid #e2e2e2}
.selectbox{border:1px solid #ccc;border-radius: 3px;background: #fff;padding:0.15rem;}
.selectbox1{border:1px solid #ccc;border-radius: 3px;background: #fff;padding:0.05rem;}